.cm-s-droppy.CodeMirror {
  background: #111 !important;
  color: #ccc;
}

.cm-s-droppy .CodeMirror-lines {
  background: #161616;
}

@media screen and (max-resolution: 1.99dppx) {
  .cm-s-droppy.CodeMirror {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.cm-s-droppy .CodeMirror-gutters {
  background: #282828;
  border: none;
}

.cm-s-droppy .CodeMirror-matchingbracket          { color: #0f0 }
.cm-s-droppy .CodeMirror-nonmatchingbracket       { color: #f22 }
.cm-s-droppy .CodeMirror-linenumber               { color: #999; padding: 0 5px }
.cm-s-droppy .CodeMirror-guttermarker             { color: #aaa }
.cm-s-droppy .CodeMirror-guttermarker-subtle      { color: #666 }

.cm-s-droppy .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #ccc;
}

.cm-s-droppy .CodeMirror-activeline .CodeMirror-linenumber {
  color: #fff;
  background: #444;
}
.cm-s-droppy .CodeMirror-activeline-background {
  background: #1d1d1d;
}

.cm-s-droppy .CodeMirror-selected,
.cm-s-droppy .CodeMirror-focused .CodeMirror-selected {
  background: #036 !important;
}
.cm-s-droppy .CodeMirror ::selection      { background: #383838 !important }
.cm-s-droppy .CodeMirror ::-moz-selection { background: #383838 !important }

.cm-s-droppy a, .cm-s-droppy a:visited { color: #607392 }
.cm-s-droppy .cm-searching { background: #ff8; color: #000 }

.cm-s-droppy .cm-keyword    { color: #f65 }
.cm-s-droppy .cm-atom       { color: #cf6a4c }
.cm-s-droppy .cm-number     { color: #cf6a4c }
.cm-s-droppy .cm-def        { color: #7587a6 }
.cm-s-droppy .cm-variable   { color: #cda869 }
.cm-s-droppy .cm-variable-2 { color: #7587a6 }
.cm-s-droppy .cm-variable-3 { color: #7587a6 }
.cm-s-droppy .cm-property   { color: #ccc    }
.cm-s-droppy .cm-operator   { color: #cda869 }
.cm-s-droppy .cm-comment    { color: #5f5a60; font-style:italic }
.cm-s-droppy .cm-string     { color: #8f9d6a }
.cm-s-droppy .cm-string-2   { color: #e9c062 }
.cm-s-droppy .cm-meta       { color: #f7f7f7 }
.cm-s-droppy .cm-qualifier  { color: #e9c062 }
.cm-s-droppy .cm-builtin    { color: #ac885b }
.cm-s-droppy .cm-bracket    { color: #9b859d }
.cm-s-droppy .cm-tag        { color: #997643 }
.cm-s-droppy .cm-attribute  { color: #cda869 }
.cm-s-droppy .cm-header     { color: #cf6a4c }
.cm-s-droppy .cm-quote      { color: #9b859d }
.cm-s-droppy .cm-hr         { color: #aeaeae }
.cm-s-droppy .cm-link       { color: #ad9361 }
.cm-s-droppy .cm-special    { color: #ff9d00 }
.cm-s-droppy .cm-error      { color: #af2018 }
