.cm-s-droppy.CodeMirror {
  color: #ccc;
  background: #161616;
  box-shadow: inset 0 0 10px #000;
}
.cm-s-droppy .CodeMirror-gutters {
  background: #282828;
  border-right: none;
  box-shadow: 0 0 10px #000;
}

.cm-s-droppy .CodeMirror-matchingbracket          { color: #0f0 }
.cm-s-droppy .CodeMirror-nonmatchingbracket       { color: #f22 }
.cm-s-droppy .CodeMirror-selected                 { background: #333 }
.cm-s-droppy .CodeMirror-linenumber               { color: #999; padding: 0 5px }
.cm-s-droppy .CodeMirror-guttermarker             { color: #aaa }
.cm-s-droppy .CodeMirror-guttermarker-subtle      { color: #666 }
.cm-s-droppy .CodeMirror-lines .CodeMirror-cursor { border-left: 1px solid #ccc }
.cm-s-droppy .CodeMirror-activeline-background    { background: #262626 }
.cm-s-droppy .CodeMirror-activeline .CodeMirror-gutter-wrapper { background: #484848 }
.cm-s-droppy .CodeMirror-activeline .CodeMirror-linenumber { color: #fff }
.cm-s-droppy a, .cm-s-droppy a:visited { color: #607392 }

.cm-s-droppy .cm-searching { background: #ffff88; color: #000 !important }

.cm-s-droppy .cm-keyword    { color: #CDA869 }
.cm-s-droppy .cm-atom       { color: #CF6A4C }
.cm-s-droppy .cm-number     { color: #CF6A4C }
.cm-s-droppy .cm-def        { color: #7587A6 }
.cm-s-droppy .cm-variable   { color: #CDA869 }
.cm-s-droppy .cm-variable-2 { color: #7587A6 }
.cm-s-droppy .cm-variable-3 { color: #7587A6 }
.cm-s-droppy .cm-property   { color: #ccc    }
.cm-s-droppy .cm-operator   { color: #cda869 }
.cm-s-droppy .cm-comment    { color: #5F5A60; font-style:italic }
.cm-s-droppy .cm-string     { color: #8F9D6A }
.cm-s-droppy .cm-string-2   { color: #E9C062 }
.cm-s-droppy .cm-meta       { color: #f7f7f7 }
.cm-s-droppy .cm-qualifier  { color: #E9C062 }
.cm-s-droppy .cm-builtin    { color: #E9C062 }
.cm-s-droppy .cm-bracket    { color: #9B859D }
.cm-s-droppy .cm-tag        { color: #997643 }
.cm-s-droppy .cm-attribute  { color: #cda869 }
.cm-s-droppy .cm-header     { color: #CF6A4C }
.cm-s-droppy .cm-quote      { color: #9B859D }
.cm-s-droppy .cm-hr         { color: #AEAEAE }
.cm-s-droppy .cm-link       { color: #ad9361 }
.cm-s-droppy .cm-special    { color: #FF9D00 }
.cm-s-droppy .cm-error      { color: #AF2018 }
