@charset "UTF-8";
/* ================================= Fonts ================================= */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("?!/Roboto.woff") format("woff");
}

/* ================================= Reset ================================= */

body, div, a, header, input, label, li, nav, p, section, span, ul, figure, figcaption, img {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

li { list-style: none }
a  { text-decoration: none; background: transparent }
:focus, a:active, a:hover { outline: none }
::-moz-focus-outer { border: none }
::-moz-focus-inner { border: none; padding: none; outline: none }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0 }
button, input { font-family: inherit; font-size: 100%; margin: none; line-height: normal; border: none }
button, html input[type="button"] { cursor: pointer }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0 }
button, input { line-height: normal }

/* ============================ Global styles / fonts ============================= */

html {
    background: #181818;
    font: 1.5em/1 "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    overflow: hidden;
    text-rendering: geometricPrecision;
    -webkit-backface-visibility: hidden;
}

::selection      { background: #18f; color: #fff }
::-moz-selection { background: #18f; color: #fff }

::-webkit-scrollbar, ::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar:vertical   { width:  4px }
::-webkit-scrollbar:horizontal { height: 4px }
::-webkit-scrollbar-thumb      { background: #888 }

input::-moz-placeholder                { color: #999; opacity: 1 }
input:-ms-input-placeholder            { color: #999 }
input::-webkit-input-placeholder       { color: #999 }
input:-webkit-autofill {
  background-color: #221 !important;
  background-image: none !important;
  color: #fff !important;
}

/* ============================ Main Page Layout =========================== */
#flex-container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

#navigation {
    background: #181818;
    text-align: center;
    order: 1;
    flex: 0 0 auto;
    z-index: 2;
    transition: transform .3s ease;
}

#navigation.out {
    transform: translateY(-100%);
}

/* ============================= Header Buttons ============================ */

#buttons {
    display: flex;
    white-space: nowrap;
    user-select: none;
    align-items: center;
    height: 1.5rem;
}

.button {
    color: #aaa;
    cursor: pointer;
    flex: 1;
    display: inline-block;
}
.button:hover { color: #fff; text-shadow: 0 0 1px #888 }

.button span {
    vertical-align: middle;
    transition: color .2s ease;
}

@media all and (min-width: 1024px) { .button { font-size: .7em } }
@media all and (max-width: 1023px) { .button { font-size: .7em } }
@media all and (max-width:  750px) { #buttons span { display: none } }

.button svg {
    fill: #aaa;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.button svg, .button svg * { transition: fill .2s ease }

@media all and (min-width: 1024px) { .button svg { height: 24px } }
@media all and (max-width: 1023px) { .button svg { height: 20px } }
@media all and (max-width: 639px)  { .button svg { height: 16px; margin-right: 0; vertical-align: baseline } }

#upload-file-button:hover svg        { fill: #29f }
#upload-folder-button:hover svg      { fill: #f1a }
#create-folder-button:hover svg      { fill: #ae5 }
#about-button:hover svg              { fill: #f71 }
#options-button:hover svg            { fill: #ff5 }
#logout-button:hover svg             { fill: #e33 }
#split-button:hover svg.split .left  { fill: #f22 }
#split-button:hover svg.split .right { fill: #28f }

.button.disabled       { color: #666 !important; cursor: not-allowed !important }
.button.disabled:hover { color: #666 !important }
.button.disabled svg   { fill:  #666 !important }

#view-container {
    flex: 1 1;
    order: 2;
    transition: all .2s ease;
    overflow-y: auto;
}

/* ================================== View ================================= */
.view {
    position: absolute;
    bottom: 0; left:0; right:0; top:1.5rem;
    display: flex;
    flex-direction: column;
    transition: left .2s ease, right .2s ease;
}
.content-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    order: 2;
}

.view.left  { left:0; right:50%; }
.view.right { left:50%; right:0; }

.content {
    left: 0;
    width: 100%;
    padding: .25em;
    transition: transform .175s ease-in;
    position: absolute;
    overflow-y: auto;
    top: 1.5rem;
    height: calc(100% - 1.5rem);
}

@media all and (min-width: 1024px) { .content { font-size:  1em } }
@media all and (max-width: 1023px) { .content { font-size: .9em } }
@media all and (max-width:  639px) { .content { font-size: .8em; top: 1.25rem; height: calc(100% - 1.25rem) } }

.content.image, .content.video, .content.document {
    padding: 0;
    border-radius: 0;
}

/* Bottom padding fix for Firefox, see https://bugzilla.mozilla.org/show_bug.cgi?id=878058 */
.firefox .content.directory:after {
    bottom: 0;
    content: "";
    display: block;
    height: .25em;
}

.content.center  { transform: translate3d(0,0,0)     }
.content.back    { transform: translate3d(-100%,0,0) }
.content.forward { transform: translate3d(100%,0,0)  }

.view .directory.content .empty,
.view .directory.content ul {
    background: #eee;
    padding: .25em;
    border-radius: 3px;
}
@media all and (max-width:  639px) {
    .content { padding: 0 }
    .view .directory.content ul { border-radius: 0 }
    .firefox .content.directory:after { display: none }
}

.view .directory.content ul {
    display: flex;
    flex-direction: column;
}

/* ================================== Path ================================= */

.path {
   background: #181818;
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
   position: absolute;
   z-index: 1;
   flex: 0 0 1.5rem;
   order: 1;
}

.view.right .path { border-left: 1px solid #333}

@media all and (min-width: 1024px) { .path {font-size: .9em } }
@media all and (max-width: 1023px) { .path {font-size: .8em } }
@media all and (max-width:  639px) { .path {font-size: .7em; height: 1.25rem; } }

.path li {
    cursor: pointer;
    display: inline-block;
    line-height: 1.5rem;
    position: relative;
}

@media all and (min-width: 1024px) { .path li { padding: 0 .4em 0 1.6em } }
@media all and (max-width: 1023px) { .path li { padding: 0 .2em 0 1.4em } }
@media all and (max-width:  639px) { .path li { padding: 0 .2em 0 1.4em; line-height: 1.25rem; } }

.path .triangle { position: absolute; height: 1.5rem; width: 1.5rem; right: -.88rem }
@media all and (max-width:  639px) {
    .path .triangle { height: 1.25rem; width: 1.25rem; right: -.75rem }
}

.path .home {
    fill: #ccc;
    height: .8rem;
    width: .8rem;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.path li:hover .home { fill: #fff }

.path li.in  { opacity: 1; transform: translateX(0) }
.path li.out { opacity: 0; transform: translateX(-100px) !important }
.path li:first-of-type { padding-left: .5em }
.path li { color: #ccc; transition: transform .4s ease, opacity .4s ease }

.path li:nth-child(odd)        { background: #383838 }
.path li:nth-child(odd) > .triangle  { fill: #383838 }
.path li:nth-child(even)       { background: #282828 }
.path li:nth-child(even) > .triangle { fill: #282828 }

.path li:nth-child(odd):hover        { background: #812; color: #fff }
.path li:nth-child(odd):hover > .triangle  { fill: #812 }
.path li:nth-child(even):hover       { background: #25a; color: #fff }
.path li:nth-child(even):hover > .triangle { fill: #25a }

.path li:nth-child(1)  { z-index: 15 }
.path li:nth-child(2)  { z-index: 14 }
.path li:nth-child(3)  { z-index: 13 }
.path li:nth-child(4)  { z-index: 12 }
.path li:nth-child(5)  { z-index: 11 }
.path li:nth-child(6)  { z-index: 10 }
.path li:nth-child(7)  { z-index: 9 }
.path li:nth-child(8)  { z-index: 8 }
.path li:nth-child(9)  { z-index: 7 }
.path li:nth-child(11) { z-index: 6 }
.path li:nth-child(12) { z-index: 5 }
.path li:nth-child(13) { z-index: 4 }
.path li:nth-child(14) { z-index: 3 }
.path li:nth-child(15) { z-index: 2 }
.path li:nth-child(16) { z-index: 1 }

/* ========================= File/Folder Display =========================== */

.paste-button {
    background: #333;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    z-index: 445;
    color: #bbb;
    padding: 0 .25em;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: opacity .4s ease, visibility .4s ease;
    user-select: none;
    line-height: 1.5rem;
}

.paste-button.in  { opacity: 1; visibility: visible; }
.paste-button.out { opacity: .5; visibility: hidden; }

@media all and (min-width: 1024px) { .paste-button { font-size: .9em; } }
@media all and (max-width: 1023px) { .paste-button { font-size: .8em; } }
@media all and (max-width:  639px) { .paste-button { font-size: .7em; line-height: 1.25rem } }

.paste-button .triangle {
    position: absolute;
    transform: rotate(180deg);
    fill: #333;
}

.paste-button .triangle { position: absolute; height: 1.5rem; width: 1.5rem; left: calc(-1.5rem + .5px) }
@media all and (max-width:  639px) {
    .paste-button .triangle { height: 1.25rem; width: 1.25rem; left: calc(-1.25rem + .5px) }
}

.paste-button svg.paste {
    fill: #ccc;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -.05em;
    height: 1em;
    width: 1em;
    margin-right: .25em;
}
.paste-button:hover svg.triangle {fill: #a51 }
.paste-button:hover { background: #a51; color: #fff; }
.paste-button .filename { color: #fff; }

#click-catcher {
    background: #000;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: opacity 0.15s ease;
    z-index: 31;
    user-select: none;
}

#click-catcher.out { opacity: 0  ; visibility: hidden }
#click-catcher.in  { opacity: .25 ; visibility: visible }

.file-header {
    display: flex;
    order: -1;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding-bottom: .1em;
    margin-bottom: .1em;
    user-select: none;
}

.file-header span {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.1em;
}

.file-header .triangle {
    position: relative;
    height: .5em;
    width: .5em;
    margin-left: .25em;
    transition: all .2s ease;
    fill: #666;
    z-index: 2;
    top: -.1em;
    left: -.2em;
}

.file-header .down .triangle {
    transform: rotate(90deg);
    top: 0;
    left: -.3em;
}

.file-header .up .triangle {
    transform: rotate(270deg);
    top: -.2em;
    left: -.3em;
}

.file-header .active  { color: #000; }
.file-header .active .triangle { fill: #000; }

.header-name {
    flex: 1 1;
    display: inline-block;
    padding-left: .3em;
}

.header-mtime {
    flex: 0 0 7em;
    display: inline-block;
    text-align: right;
}
.header-size {
    flex: 0 0 6em;
    display: inline-block;
    text-align: right;
}

.header-spacer {
    flex: 0 0 5em;
    display: inline-block;
}

.data-row {
    display: flex;
    padding: 0 .25em;
    align-items: center;
    line-height: 1.4em;
}

.data-row.editing { background: #fff }
.data-row.editing.invalid { background: #fdd }
.data-row.editing .entry-link { display: none; }

.data-row.drop-hover {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #f81;
}

.data-row, .data-row a {
    color: #333;
}

.data-row:not(.playing):not(.animating):not(.editing):hover {
    background: #f8f8f8;
    border-radius: 2px;
}

.data-row.playing { background: #18f }
.data-row.playing a.entry-link, .playing span { color: #fff }
.data-row.playing svg { fill: #fff !important }
.data-row.playing svg:hover { background: #08d !important }

.data-row.uploading .sprite {
    background: none;
}

.data-row.uploading .icon-uploading svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    animation: jump .8s infinite;
}

.data-row.uploading .icon-uploading svg { fill: #777 }

@keyframes jump {
   0%,100%  { transform: translateY(-3px) }
   50%      { transform: translateY(3px) }
}

.entry-link {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}

.entry-link, .inline-namer {
    padding: 0 .25em;
    flex: 1 1;
    display: inline-block;
}

.inline-namer { background: transparent }

@keyframes zoom {
  0%   { transform: scale(1.3) }
  50%  { transform: scale(0.9) }
  100% { transform: scale(1.3) }
}

.size {
    text-align: right;
    white-space: nowrap;
    flex: 0 0 6em;
    margin-right: 1em;
    display: inline-block;
}

.mtime {
    white-space: nowrap;
    flex: 0 0 7em;
    text-align: right;
    display: inline-block;
}

.data-row svg:not(.up-arrow):not(.play) {
    display: block;
    cursor: pointer;
    fill: #333;
    height: 1em;
    width: 1em;
    padding: .125em;
}
.data-row svg:not(.up-arrow):not(.play):hover {
    background: #d8d8d8;
    border-radius: 4px;
}

/* Hide certain list elements when width gets too small */
@media all and (max-width: 639px) { .view .entry-link, .view .inline-namer { padding: 0 .125em } }
@media all and (max-width: 639px) { .view .header-mtime                    { display: none     } }
@media all and (max-width: 639px) { .view .header-spacer                   { flex: 0 0 4em     } }
@media all and (max-width: 639px) { .view .data-row                        { padding: 0 .1em   } }
@media all and (max-width: 639px) { .view .header-size                     { flex: 0 0 3em;    } }
@media all and (max-width: 319px) { .view .header-size                     { display: none     } }
@media all and (max-width: 639px) { .view .data-row .mtime                 { display: none     } }
@media all and (max-width: 639px) { .view .data-row .size                  { flex: 0 0 4.5em; margin-right: .25em; font-size: .66em } }
@media all and (max-width: 319px) { .view .data-row .size                  { display: none     } }
@media all and (max-width: 319px) { .view .data-row svg:not(.up-arrow):not(.play) { width: 1.1em } }

/* Hide them sooner when the view is split */
@media all and (max-width: 1279px) {
    .view.left .entry-link, .view.left .inline-namer,
    .view.right .entry-link, .view.right .inline-namer {
        padding: 0 .125em;
    }
}
@media all and (max-width: 1279px) { .view.left .header-mtime,        .view.right .header-mtime    { display: none   } }
@media all and (max-width: 1279px) { .view.left .header-spacer,       .view.right .header-spacer   { flex: 0 0 4.8em } }
@media all and (max-width: 1279px) { .view.left .data-row,            .view.right .data-row        { padding: 0      } }
@media all and (max-width: 799px)  { .view.left .header-size,         .view.right .header-size     { display: none   } }
@media all and (max-width: 1279px) { .view.left .data-row .mtime,     .view.right .data-row .mtime { display: none   } }
@media all and (max-width: 799px)  { .view.left .data-row .size,      .view.right .data-row .size  { display: none   } }

.data-row .shortlink, .data-row .edit, .data-row .delete, .data-row .zip, .data-row span {
    display: block;
}

/* ============================= Empty Folder ============================== */

.empty {
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: 2em 0;
    order: 2;
}

.empty svg {
    fill: #666;
    height: 60px;
    width: 66px;
    transition: all .3s ease;
    position: relative;
    bottom: -12px;
}

.empty .text {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    color: #666;
    top: -20px;
    opacity: 0;
    transition: all .3s ease;
}

.empty:hover svg   { opacity: 1; bottom: 0; fill:  #000 }
.empty:hover .text { opacity: 1; top:    0; color: #000 }

/* ================================= Icons ================================= */

.sprite {
    background-repeat: no-repeat;
    flex: 0 0 24px;
    display: inline-block;
    width: 24px; height: 24px;
    background-size: 240px 216px;
}

@media all and (min-width: 1024px) { .sprite { transform: scale(.95) } }
@media all and (max-width: 1023px) { .sprite { transform: scale(.90) } }
@media all and (max-width:  639px) { .sprite { transform: scale(.85) } }

.data-row.playable:not(.playing):hover .sprite {
    background: none;
}

.data-row.playable:not(.playing):hover .icon-play svg {
    visibility: visible;
}

.icon-play svg {
    width: 24px; height: 24px;
    visibility: hidden;
    cursor: pointer;
    fill: #333;
}

.loading {
    position: absolute;
    animation: spin 1s infinite linear;
    border-bottom : 5px solid #18f;
    border-left   : 5px solid #000;
    border-right  : 5px solid #000;
    border-top    : 5px solid #f1a;
    border-radius: 100%;
    box-shadow: 0 0 10px #000, inset 0 0 10px #000;
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    top:  calc(50% - 100px);
}

.loading-logo {
    position: absolute;
    fill: #eee;
    stroke: #888;
    stroke-width: 8;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top:  calc(50% - 100px);
}

.spinner {
    float: right;
    animation: spin .75s infinite linear;
    border-bottom-color : #18f;
    border-left-color   : #222;
    border-right-color  : #222;
    border-top-color    : #f1a;
    margin-top: .2rem;
    margin-right: .2rem;
    border-style: solid;
    border-radius: 100%;
    border-width: 3px
    z-index: 32;
    height: 1.1rem;
    width: 1.1rem;
}
.spinner.out { display: none }

@media all and (max-width:  639px) { .spinner { height: 0.9rem; width: 0.9rem; border-width: 2.5px } }

@keyframes spin {
 from { transform: rotate(0deg)   }
 to   { transform: rotate(359deg) }
}

/* ============================ Entry Menu ============================ */

#entry-menu {
    position: absolute;
    color: #333;
    z-index: 32;
    user-select: none;
}
@media all and (min-width: 1024px) { #entry-menu { font-size: .9em } }
@media all and (max-width: 1023px) { #entry-menu { font-size: .8em } }
@media all and (max-width:  639px) { #entry-menu { font-size: .7em } }

#entry-menu > .radius-wrap {
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
}

#entry-menu.out {
    opacity: 0;
    visibility: hidden;
}

#entry-menu > .radius-wrap > div {
    padding: .25em;
    white-space: nowrap;
}

#entry-menu > .radius-wrap>a:hover {
    background: #f81;
    color: #fff;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0,0,0,.15);
}

#entry-menu > .radius-wrap > a:hover svg {
   fill: #fff;
}

#entry-menu a {
    padding: .25em;
    text-decoration: none;
    color: #333;
    display: block;
}

#entry-menu svg {
    height: 1em;
    width: 1em;
    margin-right: .25em;
    fill: #333;
    float: left;
}

#entry-menu div {
    width: 100%;
}

#entry-menu div > span {
    display: inline-block;
    vertical-align: top;
}

#entry-menu a.play, #entry-menu.type-folder a.edit {
    display: none;
}

#entry-menu.type-audio > div > .play {
    display: block;
}

/* ============================ Image Previewer ============================ */
.previewer {
    position: relative;
    text-align: center;
    height: 100%;
    overflow: hidden;
    background: #181818;
}

.previewer .arrow-back, .previewer .arrow-forward {
    position: absolute;
    bottom: 15%; top: 15%;
    cursor: pointer;
    z-index: 33;
    user-select: none;
    fill: #222;
    stroke: #eee;
    stroke-width: 15;
    opacity: 0;
    transition: opacity .3s ease;
}
.mobile .previewer .arrow-back, .mobile .previewer .arrow-forward { opacity: 1; transition: none }

.previewer .arrow-back    { left: 0; right: 85% }
.previewer .arrow-forward { left: 85%; right: 0 }
.previewer .arrow-back.in    { opacity: 1 }
.previewer .arrow-forward.in { opacity: 1 }

.previewer svg {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 50%;
    transition: all .25s ease;
}

.previewer .arrow-back svg    { transform: rotate(270deg) translateX(50%);  left:  0 }
.previewer .arrow-forward svg { transform: rotate( 90deg) translateX(-50%); right: 0 }
.previewer .arrow-back:hover svg    { height: 3em; width: 3em; left:  -.25em }
.previewer .arrow-forward:hover svg { height: 3em; width: 3em; right: -.25em }

.media-container {
    position: relative;
    height: 100%;
}

.media-container > img.left, .media-container > video.left    { transform: translate3d(-100%, -50%, 0); opacity: 0 }
.media-container > img.right, .media-container > video.right  { transform: translate3d( 100%, -50%, 0); opacity: 0 }

/* Need to split these up so browser don't ignore rules containing invalid pseudo classes */
.media-container > img {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s ease, opacity .3s ease;
}
.nofullscreen .media-container > video {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container > video:not(:fullscreen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container > video:not(:-webkit-full-screen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container > video:not(:-moz-full-screen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container > video:not(:-ms-fullscreen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* ============================ Document Previewer ============================ */
.doc, .doc > .text-editor {
    width: 100%;
    height: 100%;
}

.doc {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.sidebar {
    position: absolute;
    top: .5em;
    bottom: 1em;
    right: .5em;
    width: 2.5em;
    user-select: none;
}
.sidebar > li {
    position: relative;
    z-index: 5;
    margin-bottom: .25em;
}

.sidebar svg {
    fill: #777;
    height: 1em;
    width: 1em;
    margin-left: .75em;
}

.sidebar span {
    display: block;
    text-align: center;
    opacity: 0;
    font-size: .8em;
    padding: 2px 0 ;
    border-radius: 3px;
}

.sidebar > li:hover         { cursor: pointer; }
.sidebar > li:hover span    { color: #fff }
.sidebar > .exit:hover svg  { fill:  #c33 }
.sidebar > .exit:hover span { background: #c33; opacity: 1 }
.sidebar > .save:hover svg  { fill:  #169 }
.sidebar > .save:hover span { background: #169; opacity: 1 }
.sidebar > .ww:hover svg    { fill:  #5c5 }
.sidebar > .ww:hover span   { background: #5c5; opacity: 1 }
.sidebar > .fs:hover svg    { fill:  #fff }

.nofullscreen .sidebar > .fs { display: none }

.content:fullscreen .sidebar           { visibility: hidden; }
.content::-webkit-full-screen .sidebar { visibility: hidden; }
.content::-moz-full-screen .sidebar    { visibility: hidden; }
.content::-ms-fullscreen .sidebar      { visibility: hidden; }

.doc.readonly > .sidebar > .save { display: none }

/* ============================ Text Editor ============================ */

.doc > .text-editor > .CodeMirror {
    font-size: .65em;
    font-family: "Consolas", "Monaco", "Droid Sans Mono", monospace;
    line-height: 1.2em;
    height: 100%;
    width: 100%;
    position: relative;
}

/* CM tweaks */
.cm-s-mdn-like .CodeMirror-linenumber { left: 0 !important }
.cm-s-mdn-like .CodeMirror-gutters { border-left-color: transparent !important }
.CodeMirror-scrollbar-filler { background: transparent }

.path li.dirty { color: #f71 !important}
.path li.saved { color: #7f1 !important}
.path li.save-failed { color: #f44 !important }
.path li.dirty:after { content: "*" }

/* ============================ Upload Progress ============================ */

.upload-info {
    background: linear-gradient(#111,#222);
    color: #999;
    transition: flex-basis .2s ease;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 0;
    order: 4;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}

@media all and (min-width: 1024px) { .upload-info { font-size: .9em } }
@media all and (max-width: 1023px) { .upload-info { font-size: .8em } }
@media all and (max-width:  639px) { .upload-info { font-size: .7em } }

.upload-info.in  { flex-basis: 1.5em }
.upload-info.out { flex-basis: 0     }

.upload-info span {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5em;
}

.upload-title {
    flex: 1 1;
    order: 1;
    color: #eee;
    z-index: 3;
    padding-left: .25em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload-speed {
    color: #eee;
    flex: 0 0 6.5em;
    order: 2;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.upload-time {
    color: #eee;
    flex: 0 0 6.5em;
    order: 3;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.upload-cancel {
    transition: color .2s ease;
    cursor: pointer;
    color: #eee;
    flex: 0 0 5em;
    text-align: right;
    padding-right: .25em;
    order: 4;
    z-index: 3;
    white-space: nowrap;
}

@media all and (max-width: 959px) {
    .view.left .upload-title       , .view.right .upload-title       { display: none !important; }
    .view.left .upload-cancel      , .view.right .upload-cancel      { flex: 0 0 2em !important; }
    .view.left .upload-cancel span , .view.right .upload-cancel span { display: none !important; }
}

@media all and (max-width: 479px) {
    .upload-title       { display: none !important; }
    .upload-speed       { flex: 1 1 !important;     }
    .upload-time        { flex: 1 1 !important;     }
    .upload-cancel      { flex: 0 0 2em !important; }
    .upload-cancel span { display: none !important; }
}

.upload-bar {
    position: absolute;
    background: #18f;
    top: 0; bottom: 0; left: 0;
    transition: width .2s ease;
    width: 0;
    z-index: 2;
    pointer-event: none;
}

.upload-info svg {
    fill: #eee;
    height: 1em;
    vertical-align: middle;
    transition: fill .15s ease;
}

.upload-cancel:hover { color: #f44 }
.upload-cancel:hover svg.remove { fill: #f44 }
#file { display: none }

/* =============================== Audio Panel =============================== */

.audio-bar {
    background: #181818;
    flex: 0;
    order: 3;
    display: flex;
    position: relative;
    transition: flex-basis .2s ease;
    width: 100%;
    user-select: none;
    overflow: hidden;
}

.audio-bar.in  { flex-basis: 1.5em }
.audio-bar.out { flex-basis: 0     }

@media all and (min-width: 1024px) { .audio-bar { font-size: .9em} }
@media all and (max-width: 1023px) { .audio-bar { font-size: .8em} }
@media all and (max-width:  639px) { .audio-bar { font-size: .7em} }

.audio-icon {
    z-index: 4;
    flex: 0 0 1.5em;
}

.audio-icon svg {
    cursor: pointer;
    fill: #bbb;
    height: 1em;
    width: 1em;
    margin: .25em .25em;
    pointer-events: none;
}
.audio-icon:hover svg, .audio-icon.active svg {
    fill: #fff;
}

.volume-slider {
    z-index: 4;
    box-shadow: 0 0 0 1px #eee;
    height: .75em;
    margin: .375em .125em;
    transition: flex-basis .2s ease;
}
.volume-slider.out { flex: 0 0 0; box-shadow: none; margin: .375em 0 }
.volume-slider.in  { flex: 0 0 4em; }

.volume-slider-inner {
    background: #eee;
    height: .75em;
}

.audio-title {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5em;
    color: #fff;
    flex: 1;
    z-index: 4;
    cursor: default;
}

.seekbar {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    transition: all .2s ease;
    overflow: visible;
}

.seekbar-played {
    position: absolute;
    width: 0;
    background: #18f;
    height: 100%;
    z-index: 2;
}

.seekbar-loaded {
    position: absolute;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
}

.audio-bar .time {
    z-index: 4;
    flex: 0 0 7em;
    text-align: right;
    margin-right: .25em;
    display: block;
    color: #999;
    line-height: 1.5em;
    cursor: default;
}

.time > * { pointer-events: none }
.time-cur, .time-max { color: #fff }

/* =============================== About box =============================== */

#about-box {
    background: #eee;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    color: #666;
    height: 120px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    width: 300px;
    text-align: center;
    z-index: 32;
}

#about-box.in  { top: 50%; opacity: 1; }
#about-box.out { top: 60%; opacity: 0; visibility: hidden }

#about-content {
    margin-left: 5%;
    width: 90%;
}

#about-title {
    color: #333;
    font-size: 1.5em;
    margin-top: .6em;
    margin-bottom: .25em;
    width: 100%;
    text-align: center;
}

#about-copy {
    bottom: 0;
    font-size: .6em;
    margin-bottom: 6px;
    position: absolute;
}

#about-box .github {
    fill: #333;
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    margin-bottom: 0.25em;
}
#about-box #about-copy a { color: #555 }
#about-box #about-copy a:hover { text-decoration: underline; }

#about-fork {
    font-size: .66em;
    color: #333;
    padding: .1em .5em .1em 0;
    border-radius: .5em;
}
#about-fork:hover { background: #ddd }

/* =============================== Options ============================== */

#options-box {
    background: #eee;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    color: #666;
    max-height: 80%;
    transform: translateY(-50%);
    position: fixed;
    transition: top, .3s ease, opacity .3s ease, visibility .3s ease;
    z-index: 32;
    padding: .25em .5em ;
    overflow-y: auto;
}

@media all and (min-width: 1024px) { #options-box { font-size: .8em } }
@media all and (max-width: 1023px) { #options-box { font-size: .7em } }
@media all and (max-width:  799px) { #options-box { font-size: .6em } }

#options-box.in  { top: 50%; opacity: 1; visibility: visible }
#options-box.out { top: 60%; opacity: 0; visibility: hidden }

@media all and (min-width: 800px) {
    #options-box.single { width: 40%; left: 30%; }
    #options-box.double { width: 80%; left: 10%; }
    #options-box.single > div { width: 100%; }
    #options-box.double > div { width: 50%;  }
}

@media all and (max-width: 799px) {
    #options-box.single { width: 80%; left: 10%; }
    #options-box.double { width: 80%; left: 10%; }
    #options-box.single > div { width: 100%; }
    #options-box.double > div { width: 100%; }
}

#options-box > div {
    float: left;
}

#options-box .list-options ul li {
    display: flex;
    margin: .375em .25em;
    height: 1.75em;
}

#options-box .list-options label {
    display: inline-block;
    white-space: nowrap;
    text-align: right;
    line-height: 1.75em;
    margin-right: .5em;
    flex: 1;
}

#options-box .list-options li:hover label { color: #111; text-decoration: underline }

@media all and (max-width: 319px) {
    #options-box .list-options ul li {
        flex-direction: column;
        height: auto;
    }
    #options-box .list-options label {
        width: 100%;
        font-size: .9em;
        margin-bottom: .5em;
        text-align: center;
        line-height: 1em;
    }
    #options-box .list-options select {
        width: 100%;
        padding: .25em 0;
    }
}

.customSelect {
    width: 50%;
    padding: .25em;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2aWV3Qm94PSIwIDAgNjQwIDY0MCI+PHBhdGggc3R5bGU9ImZpbGw6ICM2NjYiIGQ9Ik0zMjAgMGwtMTQ3LjIgMjMzLjZoMjk0LjM2OGwtMTQ3LjE2OC0yMzMuNnpNMzIwLjAzMiA2NDBsMTQ3LjE2OC0yMzMuNi0yOTQuNC0wLjAzMiAxNDcuMjMyIDIzMy42MzJ6Ij48L3BhdGg+PC9zdmc+);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
}

.customSelectInner {
    white-space: nowrap;
}

#options-box select { flex: 1 }

#options-box .list-user li {
    padding: 0 .33em;
    margin: .375em .25em;
    height: 1.75em;
    line-height: 1.75em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}

#options-box .list-user h4 {
    display: none;
}

@media all and (max-width: 799px) {
    #options-box .list-user h4 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        margin: .5em 0;
    }
    #options-box .list-user li {
        padding: .25em .5em;
        height: auto;
    }
    .firefox .list-user:after {
        bottom: 0;
        content: "";
        display: block;
        height: .5em;
    }
}

#options-box .list-user li svg.remove {
    position: relative;
    top: .33em;
    right: 0;
    height: 1em;
    width: 1em;
    float: right;
    fill: #888;
    cursor: pointer;
}

#options-box .list-user li svg.remove:hover {
    fill: #f44;
}

#options-box .add-user {
    line-height: 2em;
    text-align: center;
    border-radius: 4px;
    margin: 0 .25em;
    cursor: pointer;
    margin: 0 .25em;
}
#options-box .list-user .add-user:hover {color: #000 }
#options-box .list-user .add-user:hover svg { fill: #000 }

#options-box .list-user .add-user svg {
    height: 1.25em;
    width: 1.25em;
    position: relative;
    top: .25em;
    margin-right: .5em;
    fill: #666;
}

/* ============================== Login Form =============================== */

#center-box {
    background: #f8f8f8;
    border-radius: 6px;
    color: #666;
    height: 350px;
    left: 50%;
    margin-left: -300px;
    margin-top: -175px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: opacity .2s ease, box-shadow .15s ease;
    width: 600px;
    z-index: 0;
}

#center-box.out { opacity: 0 }

@media all and (max-width: 639px), all and (max-height: 399px) {
    #center-box {
        border-radius: 0;
        box-shadow: none;
        font-size: .7em;
        height: 100%;
        left: 0;
        margin: 0;
        top: 0;
        width: 100%;
    }
}

#form {
    height: 150px;
    position: absolute;
    top: 100px;
    width: 100%;
}

@media all and (max-width: 639px), all and (max-height: 399px) {
    #form {
        top: 50%;
        margin-top: -75px;
    }
}

#firstrun-title {
    font-size: 1.33em;
    margin-top: 1.5em;
    width: 100%;
}

#login-info-box {
    line-height: 30px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    opacity: 0;
    transition: all 0.25s ease;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

#login-info-box.info  { background: linear-gradient(#248,#369); opacity: 1 }
#login-info-box.error { background: linear-gradient(#c44,#822); opacity: 1 }
@media all and (max-width: 639px), all and (max-height: 399px) { #login-info-box { border-radius: 0 } }

#login-info {
    line-height: 40px;
    margin: 0 auto;
    position: relative;
    display: block;
}

@media all and (max-width: 639px), all and (max-height: 399px) { #login-info { line-height: 32px } }

.shake { animation: shake .5s }
@keyframes shake {
    10%, 30%, 50%, 70%, 90% {transform: translateX(-6px)}
    20%, 40%, 60%, 80% {transform: translateX(6px)}
}

.login-input {
    background: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 45px;
    margin: 5px 0;
    width: 80%;
}

.login-input:focus {
    border: 1px solid #18f;
    background: #eeeef8;
}

#remember {
    height: 1.45em;
    border-radius: 3px;
    text-align: left;
    margin: 5px 10% 0 10%;
}

#remember span {
    cursor: pointer;
    height: 20px;
    left: 30px;
    line-height: 20px;
    position: absolute;
    width: 10em;
}

#remember label {
    background: #eee;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ccc;
    cursor: pointer;
    height: 20px;
    position: absolute;
    width: 20px;
    user-select: none;
}

#remember:focus label {
    box-shadow: 0 0 0 1px #18f;
    background: #eeeef8;
}

#remember label:after {
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    transition: opacity .25s ease;
    width: 10px;
}

input[type="checkbox"] { display: none }
#check:checked + label:after, input[type="checkbox"]:checked + label:after { opacity: 1 }

.submit {
    background: linear-gradient(#369,#248);
    border-radius: 0 0 4px 4px;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    height: 40px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    transition: transform .1s ease;
    width: 100%;
}

.submit:active { transform: translateY(3px) }
.submit:hover, .submit:focus { background:linear-gradient(#48c,#369) }
.submit.invalid { background: linear-gradient(#822,#c44) }

@media all and (max-width: 639px), all and (max-height: 399px) {
    .submit {
        border-radius: 0;
        height: 32px;
        left: 0;
        margin-left: 0;
        position: fixed;
    }
}
.submit .signin {
    fill: #eee;
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    margin-right: .25em;
}

.submit span {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

@media all and (max-width: 639px), all and (max-height: 399px) { .submit span { line-height: 32px } }

/* =============================== Info Box ================================ */

.info-box {
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    transition: all .3s ease;
    z-index: 66;
    overflow-y: auto;
    opacity: 0;
    color: #333;
    background: #eee;
    visibility: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
}
.info-box.in {opacity: 1; visibility: visible; transform: translate(-50%, -50%);}

@media all and (min-width: 1024px) { .info-box { font-size: .9em } }
@media all and (max-width: 1023px) { .info-box { font-size: .8em } }
@media all and (max-width:  799px) { .info-box { font-size: .7em } }
@media all and (max-width:  639px) { .info-box { width: 60%; } }
@media all and (max-width:  319px) { .info-box { width: 90%; } }

.info-box > .box-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
}

.info-box svg {
    position: absolute;
    left: 0;
    height: 75%;
    top: 50%;
    transform: translateY(-50%);
    width: 3em;
    fill: #fff;
}
.info-box.link .box-icon  { background: #f81; }
.info-box.error .box-icon { background: #f44; }

.info-box > span {
    display: block;
    line-height: 1.5em;
    padding-left: 3.5em;
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.info-box.link input {
    text-align: center;
    display: block;
    width: 100%;
    padding: .25em .1em;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    border-radius:  4px;
}

.info-box.error input { display: none }

/* =========================== Drop Select Menu ============================ */

#drop-select {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 10em;
    line-height: 2em;
    z-index: 34;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    border-radius: 6px;
    visibility: hidden;
    transition: visibilty .3s ease, opacity .3s ease;
    opacity: 0;
    display: flex;
    flex-direction: row;
}

#drop-select span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: all .1s ease;
    flex: 1;
    font-size: .75em;
}

#drop-select span:hover {
    background: #f81; color: #fff;
}

#drop-select.in { visibility: visible; opacity: 1 }
#drop-select .movefile:hover { border-radius: 6px 0 0 6px }
#drop-select .viewfile:hover { border-radius: 0 6px 6px 0 }

@media all and (max-width: 639px) {
    #drop-select {
        flex-direction: column;
        width: 3.5em;
        font-size: .8em;
        line-height: 1.75em;
    }
    #drop-select .movefile:hover { border-radius: 6px 6px 0 0 }
    #drop-select .viewfile:hover { border-radius: 0 0 6px 6px }
}
/* ============================= Misc Elements ============================= */

.dropzone {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 1.5rem;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #f81;
    transition: opacity .2s ease;
}

@media all and (max-width:  639px) { .dropzone { top: 1.25rem; } }

.dropzone.in  { opacity: .8 ; visibility: visible }

#noscript {
    background: #111;
    border-radius: 6px;
    display: table;
    height: 120px;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    padding: 30px;
    position: fixed;
    top: 50%;
    width: 400px;
}

@media all and (max-width: 639px), all and (max-height: 399px) {
    #noscript {
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        top: 0;
        width: 100%;
    }
}

#noscript p {
    color:  #ccc;
    display: table-cell;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

iframe {
    display: none;
}

/* pseudo-animation for use in setTransitionClass */
@keyframes nodeInserted {
    50% { opacity: 0.99 }
}
