@charset "UTF-8";

/* ============================= Global styles ============================= */

body, div, a, header, input, label, li, nav, p, section, span, ul, figure, figcaption, img {
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
    text-size-adjust: 100%;
    vertical-align: baseline;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    border: 0;
}

li { list-style: none }
a  { text-decoration: none; background: transparent }
:focus, a:active, a:hover { outline: none }
button, input { font-family: inherit; font-size: 100%; margin: none; line-height: normal; border: none }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0 }
button, input { line-height: normal }

::-moz-focus-inner { border: none; padding: none; outline: none }
::-moz-focus-outer { border: none }

::-webkit-scrollbar, ::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar-thumb      { background: #888 }
::-webkit-scrollbar:horizontal { height: 4px }
::-webkit-scrollbar:vertical   { width:  4px }

::selection      { background: #16b; color: #fff }
::-moz-selection { background: #16b; color: #fff }

input::-moz-placeholder          { color: #999; opacity: 1 }
input:-ms-input-placeholder      { color: #999 }
input::-webkit-input-placeholder { color: #999 }

/* =============================== Animations ============================== */

@keyframes nodeInserted {
    50% { opacity: 0.99 }
}
@keyframes jump {
   0%,100% { transform: translateY(-3px) }
   50%     { transform: translateY(3px)  }
}
@keyframes shake {
   0%,50%,100% { transform: translateX(-5px) }
   25%, 75%    { transform: translateX(5px)  }
}
@keyframes spin {
   from { transform: rotate(0deg)   }
   to   { transform: rotate(359deg) }
}
@keyframes zoom {
   0%,100%  { transform: scale(1.3) }
   50%      { transform: scale(0.9) }
}

/* ============================ Main Page Layout =========================== */

#flex-container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

#navigation {
    background: #181818;
    text-align: center;
    order: 1;
    flex: 0 0 1.5rem;
    z-index: 2;
    transition: transform .3s ease;
    transform: translateY(-100%);
    display: flex;
    white-space: nowrap;
    user-select: none;
}
#navigation.in { transform: none; visibility: visible !important }
@media (min-width: 1024px) { #navigation { font-size: 1.1em } }

/* ============================= Header Buttons ============================ */

.button {
    color: #888;
    line-height: 1.5rem;
    cursor: pointer;
    flex: 1;
}
.button:not(.disabled):hover { color: #fff }

@media (min-width: 1024px) { .button { font-size: .7em } }
@media (max-width: 1023px) { .button { font-size: .7em } }
@media (max-width:  750px) { .button span { display: none } }

.button svg {
    fill: #888;
    height: .8rem;
    width: .8rem;
    margin-right: .2rem;
    position: relative;
    top: .15rem;
}
@media (max-width:  750px) { .button svg { margin-right: 0 } }

#upload-file-button:hover   { background: rgba(102, 166, 255, .15) }
#upload-folder-button:hover { background: rgba(255, 102, 252, .15) }
#create-file-button:hover   { background: rgba(102, 255, 235, .15) }
#create-folder-button:hover { background: rgba(102, 255, 125, .15) }
#about-button:hover         { background: rgba(148, 102, 255, .15) }
#prefs-button:hover         { background: rgba(255, 212, 102, .15) }
#logout-button:hover        { background: rgba(255, 102, 102, .15) }
#split-button:hover         { background: rgba(255,  82, 255, .15) }

#upload-file-button:hover svg        { fill: rgba(102, 166, 255, 1) }
#upload-folder-button:hover svg      { fill: rgba(255, 102, 252, 1) }
#create-file-button:hover svg        { fill: rgba(102, 255, 235, 1) }
#create-folder-button:hover svg      { fill: rgba(102, 255, 125, 1) }
#about-button:hover svg              { fill: rgba(148, 102, 255, 1) }
#prefs-button:hover svg              { fill: rgba(255, 212, 102, 1) }
#logout-button:hover svg             { fill: rgba(255,  82,  82, 1) }
#split-button:hover svg.split .left  { fill: rgba(255,  82,  82, 1) }
#split-button:hover svg.split .right { fill: rgba(102, 166, 255, 1) }

.button.disabled       { color: #444 !important; cursor: not-allowed !important }
.button.disabled:hover { color: #444 !important; background: transparent !important;  }
.button.disabled svg   { fill:  #444 !important }

#view-container {
    flex: 1 1;
    order: 2;
    overflow-y: auto;
}

/* ================================== View ================================= */
.view {
    position: absolute;
    bottom: 0; left:0; right:0; top:1.5rem;
    display: flex;
    flex-direction: column;
    transition: left .2s ease, right .2s ease;
}

.content-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    order: 2;
}

.view.left  { left:0; right:50% }
.view.right { left:50%; right:0 }
.view.left .content.directory { border-right: 1px solid #ccc }

.content {
    left: 0;
    width: 100%;
    transition: transform .175s ease-in;
    position: absolute;
    top: 1.5rem;
}

@media (min-width: 1024px) { .content { font-size:  1em } }
@media (max-width: 1023px) { .content { font-size: .9em } }
@media (max-width:  639px) { .content { font-size: .8em; top: 1.25rem; max-heigth: calc(100% - 1.25rem) } }

.content.directory {
    background: #eee;
    display: flex;
    padding: .25em 0;
    flex-direction: column;
}

.content.image, .content.video, .content.document {
    padding: 0;
    height: calc(100% - 1.5rem);
}
@media (max-width:  639px) {
    .content.image, .content.video, .content.document { height: calc(100% - 1.25rem) }
}

.content.center  { transform: translateX(0)     }
.content.back    { transform: translateX(-100%) }
.content.forward { transform: translateX(100%)  }

.content:fullscreen          { top: 0; height: 100% }
.content:-webkit-full-screen { top: 0; height: 100% }
.content:-moz-full-screen    { top: 0; height: 100% }
.content::-ms-fullscreen     { top: 0; height: 100% }

/* ================================== Path ================================= */

.path {
   background: #181818;
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
   position: absolute;
   z-index: 1;
   flex: 0 0 1.5rem;
   order: 1;
}

@media (min-width: 1024px) { .path {font-size: .9em } }
@media (max-width: 1023px) { .path {font-size: .8em } }
@media (max-width:  639px) { .path {font-size: .7em; height: 1.25rem } }

.path li {
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5rem;
    opacity: 0;
    position: relative;
    transform: translateX(-2em);
    transition: transform .3s ease, opacity .3s ease;
}
.path li.in { opacity: 1; transform: translateX(0) }

.path li.dirty { color: #f71 !important}
.path li.saved { background: #361 !important}
.path li.saved svg { fill: #361 !important}
.path li.save-failed { background: #b44 !important }
.path li.save-failed svg { background: #b44 !important }
.path li.dirty:after { content: "*" }


@media (min-width: 1024px) { .path li { padding: 0 .4em 0 1.6em } }
@media (max-width: 1023px) { .path li { padding: 0 .2em 0 1.4em } }
@media (max-width:  639px) { .path li { padding: 0 .2em 0 1.4em; line-height: 1.25rem } }

.path .triangle { position: absolute; height: 1.5rem; width: 1.5rem; right: -.875rem }
@media (max-width:  639px) {
    .path .triangle { height: 1.25rem; width: 1.25rem; right: -.74rem }
}

.path .home {
    fill: #ccc;
    height: .8rem;
    width: .8rem;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.path li:hover .home { fill: #fff }
.path li:first-of-type { padding-left: .5em }

.path li:nth-child(odd)        { background: #383838 }
.path li:nth-child(odd) > .triangle  { fill: #383838 }
.path li:nth-child(even)       { background: #282828 }
.path li:nth-child(even) > .triangle { fill: #282828 }

.path li:nth-child(odd):hover        { background: #812; color: #fff }
.path li:nth-child(odd):hover > .triangle  { fill: #812 }
.path li:nth-child(even):hover       { background: #25a; color: #fff }
.path li:nth-child(even):hover > .triangle { fill: #25a }

.path li:nth-child(1)  { z-index: 15 }
.path li:nth-child(2)  { z-index: 14 }
.path li:nth-child(3)  { z-index: 13 }
.path li:nth-child(4)  { z-index: 12 }
.path li:nth-child(5)  { z-index: 11 }
.path li:nth-child(6)  { z-index: 10 }
.path li:nth-child(7)  { z-index: 9 }
.path li:nth-child(8)  { z-index: 8 }
.path li:nth-child(9)  { z-index: 7 }
.path li:nth-child(11) { z-index: 6 }
.path li:nth-child(12) { z-index: 5 }
.path li:nth-child(13) { z-index: 4 }
.path li:nth-child(14) { z-index: 3 }
.path li:nth-child(15) { z-index: 2 }
.path li:nth-child(16) { z-index: 1 }

/* ========================= File/Folder Display =========================== */

.paste-button {
    background: #333;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    z-index: 445;
    color: #bbb;
    padding: 0 .25em;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: opacity .3s ease, visibility 0s .3s;
    user-select: none;
    opacity: 0; visibility: hidden;
    line-height: 1.5rem;
}
.paste-button.in  { opacity: 1; visibility: visible; transition: opacity .3s ease }

@media (min-width: 1024px) { .paste-button { font-size: .9em } }
@media (max-width: 1023px) { .paste-button { font-size: .8em } }
@media (max-width:  639px) { .paste-button { font-size: .7em; line-height: 1.25rem } }

.paste-button .triangle {
    position: absolute;
    transform: rotate(180deg);
    fill: #333;
}

.paste-button .triangle { position: absolute; height: 1.5rem; width: 1.5rem; left: -.898rem }
@media (max-width:  639px) {
    .paste-button .triangle { height: 1.25rem; width: 1.25rem; left: -.74rem  }
}

.paste-button svg.paste {
    fill: #ccc;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -.05em;
    height: 1em;
    width: 1em;
    margin-right: .25em;
}
.paste-button:hover svg.triangle {fill: #25a }
.paste-button:hover { background: #25a; color: #fff }
.paste-button .filename { color: #fff }

#click-catcher {
    background: #000;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 31;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}
#click-catcher.in { opacity: .4; visibility: visible }

.file-header {
    display: flex;
    order: -1;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding-bottom: .1em;
    margin-bottom: .1em;
    user-select: none;
}

.file-header span {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.1em;
}

.file-header .triangle {
    position: relative;
    height: .5em;
    width: .5em;
    margin-left: .25em;
    transition: all .2s ease;
    fill: #666;
    z-index: 2;
    top: -.1em;
    left: -.3em;
}

.file-header .down .triangle { transform: rotate(90deg);  top: -.1em  }
.file-header .up   .triangle { transform: rotate(270deg); top: -.05em }

.file-header .active  { color: #000 }
.file-header .active .triangle { fill: #000 }

.header-name {
    flex: 1 1;
    display: inline-block;
    padding-left: .3em;
}

.header-mtime {
    flex: 0 0 6em;
    display: inline-block;
    text-align: right;
}
.header-size {
    flex: 0 0 5.5em;
    display: inline-block;
    text-align: right;
}

.header-spacer {
    flex: 0 0 5em;
    display: inline-block;
}

.data-row {
    display: flex;
    align-items: center;
    padding: 0 .5em;
    line-height: 1.5em;
}

.data-row.editing { background: #fff }
.data-row.editing.invalid input { color: #d22 }
.data-row.editing .entry-link { display: none }
.data-row, .data-row a { color: #333 }

.data-row:not(.playing):not(.animating):not(.editing):hover {
    background: #fff;
}

.data-row.playing, .data-row.drop-hover { background: #16b }
.data-row.playing a.entry-link, .data-row.drop-hover, .data-row.drop-hover a.entry-link, .playing span { color: #fff }
.data-row.playing svg, .data-row.drop-hover svg { fill: #fff !important }
.data-row.playing svg:hover { background: #08d !important }

.data-row.uploading .sprite {
    background: none;
}

.data-row.uploading .icon-uploading svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    animation: jump .8s infinite;
}

.data-row.uploading .icon-uploading svg { fill: #777 }

.entry-link, .error-link {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}

.error-link {
    cursor: auto !important;
    color: #f44 !important;
}

.entry-link, .error-link, .inline-namer {
    padding: 0 .25em;
    flex: 1 1;
    display: inline-block;
}

.inline-namer { background: transparent }

.size {
    text-align: right;
    white-space: nowrap;
    flex: 0 0 5.5em;
    margin-right: 1em;
    display: inline-block;
}

.mtime {
    white-space: nowrap;
    flex: 0 0 6em;
    text-align: right;
    display: inline-block;
}

.data-row svg:not(.up-arrow):not(.play) {
    display: block;
    cursor: pointer;
    fill: #444;
    height: 1em;
    width: 1em;
    padding: 0 .1em;
}
.data-row svg:not(.up-arrow):not(.play):hover { fill: #000 }

/* Hide certain list elements when width gets too small */
@media (max-width: 639px) { .view .entry-link, .view .inline-namer { padding: 0 .125em } }
@media (max-width: 639px) { .view .header-mtime                    { display: none     } }
@media (max-width: 639px) { .view .header-spacer                   { flex: 0 0 4em     } }
@media (max-width: 639px) { .view .data-row                        { padding: 0 .25em  } }
@media (max-width: 639px) { .view .header-size                     { flex: 0 0 3em;    } }
@media (max-width: 319px) { .view .header-size                     { display: none     } }
@media (max-width: 639px) { .view .data-row .mtime                 { display: none     } }
@media (max-width: 639px) { .view .data-row .size                  { flex: 0 0 5em; margin-right: .25em; font-size: .66em } }
@media (max-width: 319px) { .view .data-row .size                  { display: none     } }
@media (max-width: 319px) { .view .data-row svg:not(.up-arrow):not(.play) { width: 1.1em } }

/* Hide them sooner when the view is split */
@media (max-width: 1279px) {
    .view.left .entry-link, .view.left .inline-namer,
    .view.right .entry-link, .view.right .inline-namer {
        padding: 0 .125em;
    }
}
@media (max-width: 1279px) { .view.left .header-mtime,    .view.right .header-mtime    { display: none     } }
@media (max-width: 1279px) { .view.left .header-spacer,   .view.right .header-spacer   { flex: 0 0 4.8em   } }
@media (max-width: 1279px) { .view.left .data-row,        .view.right .data-row        { padding:  0 .25em } }
@media (max-width: 799px)  { .view.left .header-size,     .view.right .header-size     { display: none     } }
@media (max-width: 1279px) { .view.left .data-row .mtime, .view.right .data-row .mtime { display: none     } }
@media (max-width: 799px)  { .view.left .data-row .size,  .view.right .data-row .size  { display: none     } }

.data-row .sharelink, .data-row .edit, .data-row .delete, .data-row .zip, .data-row span {
    display: block;
}

/* ============================= Empty Folder ============================== */

.empty {
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: 1em 0;
    order: 2;
}

.empty svg {
    fill: #666;
    height: 70px;
    width: 70px;
    transition: all .3s ease;
    position: relative;
    bottom: -12px;
}

.empty .text {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    color: #666;
    top: -25px;
    opacity: 0;
    transition: all .3s ease;
}

.empty:hover svg   { opacity: 1; bottom: 0; fill:  #000 }
.empty:hover .text { opacity: 1; top: -5px; color: #000 }

/* ================================= Icons ================================= */

.sprite {
    flex: 0 0 24px;
    display: inline-block;
    background-clip: content-box;
    width: 24px; height: 24px;
    background-size: 240px 216px;
    margin: 0 2px;
}

@media (min-width: 1024px) { .sprite { transform: scale(1.25) } }
@media (max-width: 1023px) { .sprite { transform: scale(1.2)  } }
@media (max-width:  639px) { .sprite { transform: scale(1.0)  } }

.data-row.playable:not(.playing):hover .sprite {
    background: none;
}

.data-row.playable:not(.playing):hover .icon-play svg {
    visibility: visible;
}

.icon-play svg {
    width: 1em; height: 1em;
    visibility: hidden;
    cursor: pointer;
    position: relative;
    top: -.1em;
    left: .05em;
    fill: #333;
}
.spinner {
    position: absolute;
    right: 0;
    z-index: 32;
    height: 1.5rem;
    width: 1.5rem;
    visibility: hidden;
    pointer-events: none;
    fill: #ccc;
}
.spinner.in { visibility: visible; animation: spin .75s infinite linear }

@media (max-width:  639px) { .spinner { height: 1.25rem; width: 1.25rem; top: 0 } }

/* ============================ Entry Menu ============================ */

#entry-menu {
    position: absolute;
    color: #333;
    z-index: 32;
    user-select: none;
    opacity: 0;
    visibility: hidden;
}
#entry-menu.in { opacity: 1; visibility: visible }

@media (min-width: 1024px) { #entry-menu { font-size: .9em } }
@media (max-width: 1023px) { #entry-menu { font-size: .8em } }
@media (max-width:  639px) { #entry-menu { font-size: .7em } }

#entry-menu > .radius-wrap {
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
}

#entry-menu > .radius-wrap > div {
    padding: .25em;
    white-space: nowrap;
}

#entry-menu > .radius-wrap > a:hover, #entry-menu a.active {
    background: #16b;
    color: #fff;
}

#entry-menu > .radius-wrap > a:hover svg {
   fill: #fff;
}

#entry-menu a {
    padding: .25em;
    text-decoration: none;
    color: #333;
    display: block;
    cursor: pointer;
}

#entry-menu svg {
    height: 1em;
    width: 1em;
    margin-right: .25em;
    fill: #333;
    float: left;
}

#entry-menu div {
    width: 100%;
}

#entry-menu div > span {
    display: inline-block;
    vertical-align: top;
}

#entry-menu a.play, #entry-menu.type-folder a.edit {
    display: none;
}

#entry-menu.type-audio > div > .play {
    display: block;
}

/* ============================ Image Previewer ============================ */
.previewer {
    position: relative;
    text-align: center;
    height: 100%;
    overflow: hidden;
    background: #181818;
}

.previewer .arrow-back, .previewer .arrow-forward {
    position: absolute;
    height: 6em;
    width: 6em;
    top: calc(50% - 3em);
    cursor: pointer;
    z-index: 33;
    user-select: none;
    fill: #222;
    stroke: #eee;
    stroke-width: 15;
    opacity: 0;
    transition: opacity .3s ease;
}
.mobile .previewer .arrow-back, .mobile .previewer .arrow-forward { display: none }

.previewer .arrow-back       { left:  0 }
.previewer .arrow-forward    { right: 0 }
.previewer .arrow-back.in    { opacity: 1 }
.previewer .arrow-forward.in { opacity: 1 }

.previewer svg {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 50%;
    transition: all .25s ease;
}

.previewer .arrow-back svg    { transform: rotate(270deg) translateX(50%);  left:  0 }
.previewer .arrow-forward svg { transform: rotate( 90deg) translateX(-50%); right: 0 }
.previewer .arrow-back:hover svg    { height: 3em; width: 3em; left:  -.25em }
.previewer .arrow-forward:hover svg { height: 3em; width: 3em; right: -.25em }

.media-container {
    position: relative;
    height: 100%;
}

.media-wrapper {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.media-wrapper:not(.new-media) {
    transition: none;
}

.media-container .media-wrapper.left  { transform: translate(-100%, 0%); opacity: 0 }
.media-container .media-wrapper.right { transform: translate( 100%, 0%); opacity: 0 }

/* Need to split these up so browser don't ignore rules containing invalid pseudo classes */
.media-container img {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
.nofullscreen .media-container video {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container video:not(:fullscreen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container video:not(:-webkit-full-screen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container video:not(:-moz-full-screen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.media-container video:not(:-ms-fullscreen) {
    position: absolute; width: auto;
    max-height: 100%; max-width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.fs {
    position: absolute;
    right: .15em;
    bottom: .15em;
    z-index: 5;
    background: transparent;
}
.fs svg {
    fill: #bbb;
    height: .8em;
    width: .8em;
}
.fs:hover svg { fill: #fff }
.video .fs, .nofullscreen .fs { display: none }

/* ================================= Video.js ================================= */

.media-container video:not(.vjs-tech) {
    display: none;
}

.video-js {
    height: 100% !important;
    width: 100% !important;
    background: transparent !important;
}

.vjs-big-play-button {
    left: 50% !important;
    top: 50% !important;
    height: 10rem !important;
    transform: translate(-50%, -50%) !important;
    box-shadow: none !important;
    background: none !important;
    color: #ccc !important;
    border: none !important;
    transition: all .3s !important;
}

.vjs-big-play-button:before {
    font-size: 3.8rem !important;
    text-shadow: none !important;
}

.vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
    background: none !important;
    box-shadow: none !important;
    transform: translate(-50%, -50%) scale(1.25) !important;
    color: #fff !important;
}



/* Non-mobile supports autoplay */
html:not(.mobile) .vjs-big-play-button {
    display: none !important;
}

/* ============================ Document  ============================ */

.CodeMirror {
    font-family: "Consolas", "Monaco", "Droid Sans Mono", monospace;
    font-size: 16px;
    line-height: 1.2em;
    height: 100%;
    width: 100%;
}

.CodeMirror-scrollbar-filler { background: transparent !important }
.CodeMirror-lines { padding: 0 !important }

.CodeMirror-dialog-top { border-bottom: 1px solid #383838; top: 0 }
.CodeMirror-dialog-bottom { border-top: 1px solid #383838; bottom: 0 }

.CodeMirror-dialog {
    position: absolute;
    left: 0; right: 0;
    background: #282828;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: #aaa;
    white-space: nowrap;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em !important;
    color: #eee;
    font-family: "Consolas", "Monaco", "Droid Sans Mono", monospace;
}

.sidebar {
    position: absolute;
    top: .5em;
    right: .5em;
    width: 2.5em;
    user-select: none;
}
.sidebar > li {
    position: relative;
    z-index: 5;
    margin-bottom: .25em;
}

.sidebar svg {
    fill: rgba(96,96,96,.5);
    height: 1em;
    width: 1em;
    margin-left: .75em;
}

.sidebar span {
    display: block;
    text-align: center;
    opacity: 0;
    font-size: .7em;
}

.sidebar > li:hover         { cursor: pointer }
.sidebar > li:hover span    { color: #fff; opacity: 1 }
.sidebar > .exit:hover svg  {  fill: #d44 }
.sidebar > .exit:hover span { color: #d44 }
.sidebar > .save:hover svg  {  fill: #5c5 }
.sidebar > .save:hover span { color: #5c5 }
.sidebar > .ww:hover svg    {  fill: #18f }
.sidebar > .ww:hover span   { color: #18f }
.sidebar > .syntax:hover svg,  .sidebar > .syntax.in svg  {  fill: #f82 }
.sidebar > .syntax:hover span, .sidebar > .syntax.in span { color: #f82; opacity: 1 }
.sidebar > .find:hover svg  {  fill: #a4c }
.sidebar > .find:hover span { color: #a4c }
.sidebar > .full:hover svg  {  fill: #bb4 }
.sidebar > .full:hover span { color: #bb4 }

.mode-select {
    background: #282828;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    border-radius: 2px;
    color: #ccc;
    font-size: .8em;
    margin-top: -2.55em;
    padding: .5em 3.25em .5em .5em;
    position: absolute;
    right: 0;
    visibility: hidden;
    z-index: 4;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.mode-select.in { visibility: visible }

/* ============================ Upload Progress ============================ */

.upload-info {
    background: #181818;
    color: #999;
    transition: flex-basis .2s ease;
    width: 100%;
    position: relative;
    display: flex;
    flex: 0 0 0px;
    order: 4;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}
.upload-info.in  { flex-basis: 1.5em }

@media (min-width: 1024px) { .upload-info { font-size: .9em } }
@media (max-width: 1023px) { .upload-info { font-size: .8em } }
@media (max-width:  639px) { .upload-info { font-size: .7em } }

.upload-info span {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5em;
}

.upload-title {
    flex: 1 1;
    order: 1;
    color: #eee;
    z-index: 3;
    padding-left: .25em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload-speed {
    color: #eee;
    flex: 0 0 6.5em;
    order: 2;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.upload-time {
    color: #eee;
    flex: 0 0 6.5em;
    order: 3;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.upload-cancel {
    transition: color .2s ease;
    cursor: pointer;
    color: #eee;
    flex: 0 0 5em;
    text-align: right;
    padding-right: .25em;
    order: 4;
    z-index: 3;
    white-space: nowrap;
}

@media (max-width: 959px) {
    .view.left .upload-title       , .view.right .upload-title       { display: none !important }
    .view.left .upload-cancel      , .view.right .upload-cancel      { flex: 0 0 2em !important }
    .view.left .upload-cancel span , .view.right .upload-cancel span { display: none !important }
}

@media (max-width: 479px) {
    .upload-title       { display: none !important }
    .upload-speed       { flex: 1 1 !important     }
    .upload-time        { flex: 1 1 !important     }
    .upload-cancel      { flex: 0 0 2em !important }
    .upload-cancel span { display: none !important }
}

.upload-bar {
    position: absolute;
    background: #16b;
    top: 0; bottom: 0; left: 0;
    transition: width .2s ease;
    width: 0;
    z-index: 2;
    pointer-event: none;
}

.upload-info svg {
    fill: #eee;
    height: 1em;
    vertical-align: middle;
    transition: fill .15s ease;
}

.upload-cancel:hover { color: #f44 }
.upload-cancel:hover svg.remove { fill: #f44 }
#file { display: none }

/* =============================== Audio Panel =============================== */

.audio-bar {
    background: #181818;
    flex: 0 0 0px;
    order: 3;
    display: flex;
    position: relative;
    transition: flex-basis .2s ease;
    width: 100%;
    user-select: none;
    overflow: hidden;
}
.audio-bar.in { flex-basis: 1.5em }

@media (min-width: 1024px) { .audio-bar { font-size: .9em} }
@media (max-width: 1023px) { .audio-bar { font-size: .8em} }
@media (max-width:  639px) { .audio-bar { font-size: .7em} }

.audio-icon {
    z-index: 4;
    flex: 0 0 1.5em;
}
.audio-icon:first-of-type { margin-left: .25em }
@media (max-width: 639px) { .audio-icon { flex-basis: 1.25em } }


.audio-icon svg {
    cursor: pointer;
    fill: #aaa;
    height: 1.25em;
    width: 1.25em;
    margin: .125em;
    pointer-events: none;
}
@media (max-width: 639px) { .audio-icon svg { height: 1em; width: 1em; margin: .25em 0 } }

.audio-icon:hover svg  { fill: #ddd }
.audio-icon.active svg { fill: #fff }

.volume-slider {
    z-index: 4;
    height: .75em;
    transition: flex-basis .2s ease;
    flex: 0 0 0px;
    margin: .375em 0;
}
.volume-slider.in { flex-basis: 4em; box-shadow: 0 0 0 1px #eee }

.volume-slider-inner {
    background: #eee;
    height: .75em;
}

.audio-title {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5em;
    color: #fff;
    flex: 1;
    z-index: 4;
    cursor: default;
}

.seekbar {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    transition: all .2s ease;
    overflow: visible;
}

.seekbar-played {
    position: absolute;
    width: 0;
    background: #16b;
    height: 100%;
    z-index: 2;
}

.seekbar-loaded {
    position: absolute;
    width: 0;
    height: 100%;
    background: #383838;
    z-index: 1;
}

.audio-bar .time {
    z-index: 4;
    flex: 0 0 7em;
    text-align: right;
    margin-right: .25em;
    display: block;
    color: #999;
    line-height: 1.5em;
    cursor: default;
}
@media (max-width: 639px) { .audio-bar .time { flex-basis: 2em } }

.time > * { pointer-events: none }
.time-cur, .time-max { color: #fff }
@media (max-width: 639px) { .time-max, .time-sep { visibility: hidden } }

/* =============================== About box =============================== */

#about-box {
    background: #eee;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    color: #666;
    height: 120px;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: opacity .3s ease, visibility 0s .3s;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    z-index: 32;
}
#about-box.in { opacity: 1; visibility: visible; transition: opacity .3s ease }

#about-content {
    color: #333;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

#about-title {
    font-size: 1.2em;
    margin-top: .33em;
}

#about-engine {
    font-size: .7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .1em;
}

#about-copy {
    bottom: 0;
    font-size: .6em;
    margin-bottom: .33em;
    position: absolute;
}

#about-copy a {
    padding: 0 .3em;
    color: #000;
    border: 1px solid transparent;
}

#about-box .github {
    fill: #333;
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    margin-bottom: 0.25em;
}

#about-fork {
    font-size: .66em;
    color: #333;
    padding-right: .3em;
    border-radius: .4em;
}
#about-fork:hover, #about-box #about-copy a:hover {
    background: #fff;
    border-radius: .4em;
}

/* ================================= Prefs ================================ */

#prefs-box {
    background: #eee;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    color: #666;
    max-height: 95%;
    left: 50%;
    top: 50%;
    position: fixed;
    transition: opacity .3s ease, visibility 0s .3s;
    transform: translate(-50%, -50%);
    z-index: 32;
    padding: .66em;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}
#prefs-box.in { opacity: 1; visibility: visible; transition: opacity .3s ease }

@media (min-width: 800px) { #prefs-box { width: 24em } }
@media (max-width: 799px) { #prefs-box { width: 80%  } }

@media (min-width: 1024px) { #prefs-box { font-size: .8em } }
@media (max-width: 1023px) { #prefs-box { font-size: .7em } }
@media (max-width:  799px) { #prefs-box { font-size: .6em } }

#prefs-box > div { width: 100% }

#prefs-box .list-prefs ul li { display: flex; margin: 0.25em 0 }
#prefs-box .list-prefs ul li:first-of-type { margin-top: 0 }

#prefs-box .list-prefs label {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5em;
    flex: 1;
}

@media (max-width: 319px) {
    #prefs-box .list-prefs ul li {
        flex-direction: column;
        height: auto;
    }
    #prefs-box .list-prefs label {
        width: 100%;
        font-size: .9em;
        margin-bottom: .5em;
        text-align: center;
        line-height: 1em;
    }
    #prefs-box .list-prefs select {
        width: 100%;
        padding: .25em 0;
    }
}

#prefs-box select {
    padding: 0 .25em;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2aWV3Qm94PSIwIDAgNjQwIDY0MCI+PHBhdGggc3R5bGU9ImZpbGw6ICM5OTkiIGQ9Ik0zMjAgMGwtMTQ3LjIgMjMzLjZoMjk0LjM2OGwtMTQ3LjE2OC0yMzMuNnpNMzIwLjAzMiA2NDBsMTQ3LjE2OC0yMzMuNi0yOTQuNC0wLjAzMiAxNDcuMjMyIDIzMy42MzJ6Ij48L3BhdGg+PC9zdmc+);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
    flex: 1;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

*:focus {
    outline: 0;
}

#prefs-box .list-user:before {
    content: "Users";
    margin: 0 1em;
    border-bottom: 1px solid #ccc;
    padding: .25em .5em;
    display: block;
}
#prefs-box .list-user li {
    padding: 0 .5em;
    margin: 0 1em;
    line-height: 1.25em;
}

@media (max-width: 799px) {
    #prefs-box .list-user li {
        padding: .25em .5em;
        height: auto;
    }
}

#prefs-box .list-user li .trash {
    position: relative;
    top: .33em;
    right: 0;
    height: 1em;
    width: 1em;
    float: right;
    fill: #ccc;
    cursor: pointer;
}

#prefs-box .list-user li .trash:hover {
    fill: #f44;
}

#prefs-box .add-user {
    text-align: center;
    cursor: pointer;
    width: 10em;
    margin: .25em auto;
}
#prefs-box .list-user .add-user:hover { color: #333 }
#prefs-box .list-user .add-user:hover svg { fill: #333 }

#prefs-box .list-user .add-user svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: .125em;
    margin-right: .25em;
    fill: #666;
}

/* ============================== Login Form =============================== */

#login-box {
    color: #222;
    background: #e0e0e0;
    border-radius: 6px;
    box-shadow: 0 0 30px #000;
    height: 10rem;
    width: 24rem;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transition: transform .4s ease, opacity .4s ease;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#login-box.in { transform: translate(-50%, -50%); opacity: 1 }

@media (max-width: 639px), (max-height: 399px) {
    #login-box {
        border-radius: 0;
        box-shadow: none;
        font-size: .7em;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

#form {
    position: absolute;
    width: 100%;
    height: 100%;
}

#firstrun-title {
    font-size: 1.33em;
    margin-top: 1.5em;
    width: 100%;
}

#login-info-box {
    line-height: 30px;
    border-radius: 5px 5px 0 0;
    transition: background 0.2s ease;
    position: absolute;
    top: 0;
    width: 100%;
}

#login-info-box.error { background: #a33; color: #fff }
@media (max-width: 639px), (max-height: 399px) { #login-info-box { border-radius: 0 } }

#login-info {
    line-height: 1.75rem;
}

#login-fields {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.login-input {
    background: rgba(255,255,255,.5);
    padding: 0 10px;
    height: 2rem;
    width: 100%;
    border-radius: 6px;
}

.login-input:focus {
    background: rgba(255,255,255,1);
}

.login-input + .login-input {
    margin-top: .3rem;
}

.remember, .submit {
    background: #ddd;
    bottom: 0;
    color: #666;
    cursor: pointer;
    height: 1.75rem;
    left: 0;
    position: absolute;
    user-select: none;
    white-space: nowrap;
    width: 50%;
}

.remember span, .submit span {
    display: inline-block;
    vertical-align: middle;
}

.remember svg, .submit svg {
    height: 1.25em;
    transition: fill .2s ease;
    margin-right: .25em;
    vertical-align: middle;
    width: 1.25em;
}

.remember { border-bottom-left-radius: 5px }
.submit   { border-bottom-right-radius: 5px; left: 50% }

.remember:hover, .remember:focus { color: #222 }
.submit:hover, .submit:focus     { color: #222 }
.submit svg                      { fill: #666 }
.remember svg                    { fill: transparent }
.remember.checked svg            { fill: #666 }
.submit:hover svg                { fill: #222 }
.remember.checked:hover svg      { fill: #222 }

@media (max-width: 639px), (max-height: 399px) {
    .remember, .submit {
        border-radius: 0;
     }
}

/* =============================== Info Box ================================ */

.info-box {
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);
    position: absolute;
    transition: opacity .3s ease, visibility 0s .3s;
    text-align: center;
    z-index: 40;
    overflow: hidden;
    opacity: 0;
    color: #333;
    background: #eee;
    visibility: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}
.info-box.in { opacity: 1; visibility: visible; transition: opacity .3s ease }

@media (min-width: 1024px) { .info-box { font-size: .9em } }
@media (max-width: 1023px) { .info-box { font-size: .8em } }
@media (max-width:  799px) { .info-box { font-size: .7em } }
@media (max-width:  639px) { .info-box { max-width: 90%  } }

.info-box svg {
    position: absolute;
    left: 0;
    width: 2.5em;
    padding: .25em;
    fill: #fff;
}

.info-box.link span      { display: none }
.info-box.error .linkout { display: none }
.info-box.link  svg { height: 2.5em             }
.info-box.error svg { height: calc(100% - .5em) }
.info-box.link  { background: linear-gradient(to right, #16b 3em, #fff 3em) }
.info-box.error { background: linear-gradient(to right, #f44 3em, #fff 3em) }

.info-box span, .info-box .linkout {
    display: block;
    padding: .25em;
    padding-left: 3.25em;
    color: #444;
}

.info-box span     { line-height: 1.5em }
.info-box .linkout { line-height: 2.5em }

/* =========================== Drop Select Menu ============================ */

#drop-select {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 10em;
    line-height: 2em;
    z-index: 34;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: row;
}
#drop-select.in { opacity: 1; visibility: visible }

#drop-select span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    flex: 1;
    font-size: .75em;
}

#drop-select span:hover, #drop-select span.active {
    background: #16b; color: #fff;
}

#drop-select .movefile:hover { border-radius: 6px 0 0 6px }
#drop-select .viewfile:hover { border-radius: 0 6px 6px 0 }

@media (max-width: 639px) {
    #drop-select {
        flex-direction: column;
        width: 3.5em;
        font-size: .8em;
        line-height: 1.75em;
    }
    #drop-select .movefile:hover { border-radius: 6px 6px 0 0 }
    #drop-select .viewfile:hover { border-radius: 0 0 6px 6px }
}
/* ============================= Misc Elements ============================= */

.dropzone {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 1.5rem;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #16b;
    transition: opacity .2s ease;
}
@media (max-width:  639px) { .dropzone { top: 1.25rem } }

.dropzone.in { opacity: .8; visibility: visible }
.blur { filter: blur(1.5px) }
.shake { animation: shake .3s ease }

iframe { display: none }
