root: true

extends:
  - eslint-config-silverwind
  - plugin:unicorn/recommended

overrides:
  - files: ["client/**/*.js"]
    rules:
      no-var: [0]
      object-shorthand: [0]
      prefer-arrow-callback: [0]
      prefer-const: [0]
      prefer-rest-params: [0]
      prefer-spread: [0]
      unicorn/no-hex-escape: [0]
      unicorn/prefer-exponentiation-operator: [0]
      unicorn/prefer-starts-ends-with: [0]
      unicorn/prefer-node-append: [0]
      unicorn/prefer-query-selector: [0]
    globals:
      CodeMirror: false
      fileExtension: false
      Handlebars: false
      jQuery: false
      Mousetrap: false
      pdfjsLib: false
      PhotoSwipe: false
      PhotoSwipeUI_Default: false
      Plyr: false
      screenfull: false
      Uppie: false

rules:
  unicorn/catch-error-name: [2, {name: err}]
  unicorn/explicit-length-check: [0]
  unicorn/new-for-builtins: [0]
  unicorn/no-process-exit: [0]
  unicorn/regex-shorthand: [0]
