root: true
extends: silverwind

overrides:
  - files: ["client/**/*.js"]
    rules:
      prefer-arrow-callback: [2, {allowNamedFunctions: true, allowUnboundThis: true}]
    env:
      browser: true
      es6: true
      jquery: true
    globals:
      CodeMirror: false
      fileExtension: false
      Handlebars: false
      Mousetrap: false
      pdfjsLib: false
      PhotoSwipe: false
      PhotoSwipeUI_Default: false
      Plyr: false
      screenfull: false
      Uppie: false
