/* vim: ts=4:sw=4 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

* {
	margin: 0;
	padding: 0;
}

html,body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: 0 1px 0 #fff;
	background-image: url("/res/bg.png");
	background-color:#f2f2f2;
	font-size: 100%;
	height: 100%;
	color:#666;
}

input:focus,select:focus,textarea:focus,button:focus {
	outline: none;
}

a {
	color:#111;
	text-decoration:none;
}

div#progress {
	display: none;
	margin-top: 20px;
	background-color:#d5d5d5;
	width:100%;
	height:20px;
	float: left;
	background:#cfcfcf;
	border-width:1px;
	border-style:solid;
	border-color: #aaa #bbb #ccc #bbb;
	box-shadow:inset 0px 2px 3px #bbb;
	-moz-border-radius:8px;
	8-o-border-radius: 8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

div#progressBar {
	width:0%;
	height:20px;
	background-color:#f67;
	-moz-border-radius:8px;
	-o-border-radius: 8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background:#999;
	background-size:18px 18px;
	background-color: #ff9147;
	box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}

div.fileheader {
	border-bottom: 1px solid black;
	margin-bottom: 1px;
}

.fileheader > .fileicon, .fileheader > .filename, .fileheader > .fileinfo {
	color: #444 !important;
	font-weight: 400;
}

a.filelink {
	display:block;
	width:100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

div#container {
	min-height: 100%;
	position: relative;
	overflow: auto;
	padding-right: 5px;
}

#left {
	display: block;
	float: left;
	width: 200px;
	height: 100%;
	top: 0px;
	text-align:center;
	font-size: 1.2em;
	position: fixed;
	text-shadow: 0px 0px 2px rgba(128,128,128, 0.5);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

div#content {
	padding-left: 200px;
	text-shadow: 0px 0px 2px rgba(128,128,128, 0.2);
}

footer {
	position:absolute;
	bottom: 0px;
	width: 100%;
	font-size: 0.6em;
	text-align:center;
}

img {
	vertical-align:middle; margin:-100px 0;
	position:relative; top:-2px;
}

.button {
	font-weight: 400;
	width:150px !important;
	margin-left: 25px !important;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.button:hover {
	color: #000 !important;
	background-color: #fff !important;
	box-shadow:inset 0px 0px 1px rgba(0, 0, 0, 1);
}

.fileicon, .filename, .fileinfo {
	line-height:2em;
}

.filerow {
	margin: 0px auto;
	width: 100%;
}

.filerow:hover {
	background-color:#fff;
	box-shadow:inset 0px 0px 1px rgba(0, 0, 0, 1);
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.fileicon {
	text-align:right;
	width:16px;
	margin-left: 10px;
	float:left;
}

.filename {
	margin-left: 5px;
	width: 70%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}


.fileinfo {
	margin-left: -50px;
	width:auto;
	float:right;
	text-align:right;
	margin-right: 10px;
}

.spacer {
	margin-left: 30px;
}
.headerspacer {
	margin-left: 40px;
}

.right {
	clear:left;
	width: 5%;
}

div#file-upload input {
	cursor:pointer;
	position:absolute;
	right:0;
	height:100%;
	top:0;
	opacity:0;
	font-size:100px;
}

div#file-upload {
	position:relative;
	overflow:hidden;
	cursor:pointer;
	width:100%;
	float:left;
	color:#666;
	background:transparent;
}

div#logo {
	float:left;
	width: 50px;
	height: 80px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top:5px;
	background-image:url('/res/drop.png');
	background-repeat:no-repeat;
}

p#logotext {
	float:left;
	margin-left:15px;
	margin-top:25px;
	font-size: 2.25em;
	font-weight: 800;
	text-shadow: 0px 1px 6px rgba(255, 255, 255, 1);
	color:#444;
}

div#add-folder {
	position:relative;
	cursor:pointer;
	width:100%;
	float:left;
	color:#666;
	background:transparent;
}

div#overlay {
	display: none;
	height: 140px;
	width: 300px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-top: -70px;
	margin-left: -150px;
	background-color: #222;
	opacity: .9;
	text-align: center;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#question {
	margin: 15px;
	color: #eee;
	text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.2);
	font-size: 1.5em;
}

#info-filename {
	margin:10px;
	display: none;
	text-shadow: 0px 1px 5px rgba(255, 0, 0, 0.3);
	color: #f55;
	font-size: 1em;
}

input {
	font-size: 1.5em;
	width: 260px;
	border: 2px solid #ff9147;
	background-color: #eee;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
