/* vim: ts=4:sw=4 */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    background-image: url("/res/bg.png");
    background-color: #f2f2f2;
    font-size: 100%;
    height: 100%;
    color: #666;
}

* {
    margin: 0;
    padding: 0;
}

input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}

a {
    color: #222;
    text-decoration: none;
}

aside {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    top: 0;
    text-align: center;
    position: fixed;
    text-shadow: 0 0 2px rgba(128,128,128, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    font-size: 1.3em;
    padding-left: 200px;
    text-shadow: 0 0 1px rgba(128,128,128, .4);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.65em;
    text-align: center;
}

#progress{
    display: none;
    margin-top: 20px;
    background-color: #d5d5d5;
    width: 92%;
    margin-left: 4%;
    height: 20px;
    float: left;
    background: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #bbb #ccc #bbb;
    box-shadow:inset 0 2px 3px #bbb;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #f72;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-size: 18px 18px;
    box-shadow: inset 0 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0 rgba(0, 0, 0, .2);
}

div.fileheader {
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

.fileheader > .fileicon, .fileheader > .filename, .fileheader > .fileinfo {
    color: #444;
    font-weight: 400;
}

.filerow:hover *, .folderrow:hover * {
    color: #fff;
    text-shadow: none;
}

.filerow:hover, .folderrow:hover{
    background-color: #e73;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -o-transition: all .5s cubic-bezier(0,.48,.27,.99);
    -moz-transition: all .5s cubic-bezier(0,.48,.27,.99);
    -webkit-transition: all .5s cubic-bezier(0,.48,.27,.99);
    transition: all .5s cubic-bezier(0,.48,.27,.99);
}

.filelink, .folderlink{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.fileicon, .filename, .fileinfo, .foldericon, .foldername, .folderinfo {
    line-height: 1.5em;
}

.fileicon, .foldericon {
    text-align: right;
    width: 16px;
    margin-left: 10px;
    float: left;
}

.filename, .foldername {
    margin-left: 5px;
    width: 70%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.fileinfo, .folderinfo {
    margin-left: -50px;
    width: auto;
    float: right;
    text-align: right;
    margin-right: 10px;
}

#container {
    min-height: 100%;
    position: relative;
    overflow: auto;
    padding-right: 5px;
}

img {
    vertical-align: middle;
    margin:-100px 0;
    position: relative;
    top:-2px;
}

.button {
    width: 90% !important;
    padding: 5px;
    margin-left: 5%;
    font-weight: 400;
    font-size: 1.5em;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {
    color: #fff !important;
    background-color: #e73 !important;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -o-transition: all .5s cubic-bezier(0,.48,.27,.99);
    -moz-transition: all .5s cubic-bezier(0,.48,.27,.99);
    -webkit-transition: all .5s cubic-bezier(0,.48,.27,.99);
    transition: all .5s cubic-bezier(0,.48,.27,.99);
}

.spacer {
    margin-left: 30px;
}

.headerspacer {
    margin-left: 20px;
}

.right {
    clear: left;
    width: 5%;
}

#file-upload input {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    opacity: 0;
    font-size: 100px;
}

#file-upload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    float: left;
    color: #666;
    background: transparent;
}

#logo {
    float: left;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-position: 15px 0, center;
    margin-top:10px;
    background-image: url('/res/drop.png');
    background-repeat: no-repeat;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

#logo:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#logotext {
    padding-top: 25px;
    position: absolute;
    margin-left: 7%;
    width: 90%;
    height: 80px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    text-shadow: 0 1px 6px rgba(255, 255, 255, 1);
    color: #444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#add-folder {
    position: relative;
    cursor: pointer;
    width: 100%;
    float: left;
    color: #666;
    background: transparent;
}

#overlay {
    display: none;
    height: 180px;
    width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    margin-left: -180px;
    background-color: #222;
    opacity: .9;
    text-align: center;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#question {
    margin-top: 35px;
    margin-bottom: 25px;
    color: #eee;
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
}

#info-filename {
    margin: 10px;
    display: none;
    text-shadow: 0 1px 5px rgba(255, 0, 0, 0.3);
    color: #f55;
    font-size: 1em;
}

#nameinput {
    font-size: 1.5em;
    width: 260px;
    border: 2px transparent;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#nameinput.valid {
    border: 2px solid #ff9147;
    background-color: #eee;
}

#nameinput.invalid {
    border: 2px solid #f00;
    background-color: #f55;
}

#noscript {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
}

#noscript p {
    font-size: 2.5em;
    color: #f33;
    text-shadow: 0 0 2px #f33;
    margin-top: 25%;
    vertical-align: middle;
    text-align: center;
}