{{##def.directoryHeader:
    <div class="file-header">
        <span class="header-name" class="down">Name {{= svg.triangle }}</span>
        <span class="header-mtime" class="up">Modified {{= svg.triangle }}</span>
        <span class="header-size" class="up">Size {{= svg.triangle }}</span>
        <span class="header-spacer"></span>
    </div>
#}}
{{##def.folderLink:
    <li class="data-row{{= link.classes }}" data-type="folder" data-id="{{= link.id }}">
        <span class="sprite sprite-folder">{{= link.svgIcon }}</span>
        <span class="folder-link entry-link">{{= link.file }}</span>
        <span class="mtime" data-timestamp="{{= link.mtime }}">{{= link.timeDifference(mtime) }}</span>
        <span class="size" data-size="{{= link.bytes }}">{{= link.size }}</span>
        <span class="size-unit">{{= link.sizeUnit }}</span>
        <span><a class="zip" title="Create Zip" href="/~~{{= link.id }}" download="{{= link.file }}.zip">{{= svg.zip }}</a></span>
        <span class="entry-menu" title="Actions">{{= svg.menu }}</span>
    </li>
#}}
{{##def.fileLink:
    <li class="data-row{{= link.classes }}" data-type="file" data-id="{{= link.id }}">
        <span class="sprite {{= link.spriteClass}}">{{= link.svgIcon }}</span>
        <a class="file-link entry-link" href="{{= link.downloadURL }}" dowload="{{= link.file }}">{{= link.file }}</span>
        <span class="mtime" data-timestamp="{{= link.mtime }}">{{= link.timeDifference(mtime) }}</span>
        <span class="size" data-size="{{= link.bytes }}">{{= link.size }}</span>
        <span class="size-unit">{{= link.sizeUnit }}</span>
        <span class="shortlink" title="Create Shortlink">{{= svg.link }}</span>
        <span class="entry-menu" title="Actions">{{= svg.menu }}</span>
    </li>
#}}

<div class="paste-button  {{ out+=(droppy.clipboard ? "in" : "out") }}"> {{= svg.paste }}
    <span>Paste <span class="filename">{{= it.clipboardBasename }}</span> here</span>
</div>
    {{? it.isEmpty }}
        <div id="empty" class="empty">{{= svg.uploadCloud }}<div class="text">Add files</div></div>
    {{??}}
        {{~it.entries :link:index}}
            {{? link.type === "f" || link.type === "nf" }}
                {{#def.fileLink}}
            {{?? link.type === "d" || link.type === "nd" }}
                {{#def.folderLink}}
            {{?}}
        {{~}}
    {{?}}