<div class="file-header">
  <span class="header-name down">Name {{{svg "triangle"}}}</span>
  <span class="header-mtime up">Modified {{{svg "triangle"}}}</span>
  <span class="header-size up">Size {{{svg "triangle"}}}</span>
  <span class="header-spacer"></span>
</div>
