<ul class="list-user">
  {{#each this}}
    <li>
      <div class="username">{{this}}</div>
      <div class="delete-user tip tip-w" aria-label="Delete user">{{{svg "trash"}}}</div>
    </li>
  {{/each}}
  <li class="add-user">{{{svg "plus"}}}Add User</li>
</ul>
