<main></main>
<div id="overlay"></div>
<div id="entry-menu">
  <a class="play"><svg class="play"><use xlink:href="#i-play"></svg>Play</a>
  <a class="openfile"><svg class="open"><use xlink:href="#i-open"></svg>Open</a>
  <a class="edit"><svg class="pencil"><use xlink:href="#i-pencil"></svg>Edit</a>
  <a class="rename"><svg class="rename"><use xlink:href="#i-rename"></svg>Rename</a>
  <a class="share"><svg class="link"><use xlink:href="#i-link"></svg>Share</a>
  <a class="copy"><svg class="copy"><use xlink:href="#i-copy"></svg>Copy</a>
  <a class="cut"><svg class="scissors"><use xlink:href="#i-scissors"></svg>Cut</a>
  <a class="delete"><svg class="trash"><use xlink:href="#i-trash"></svg>Delete</a>
</div>
<div id="about-box">
  <p id="about-title"></p>
  <p id="about-engine"></p>
  <a id="about-fork" target="_blank" rel="noopener" href="https://github.com/silverwind/droppy">
    <svg class="github"><use xlink:href="#i-github"></svg><span>GitHub project page</span>
  </a>
  <p id="about-copy">©<a href="https://github.com/silverwind" target="_blank" rel="noopener">silverwind</a></p>
</div>
<div id="prefs-box"></div>
<div id="drop-select">
  <span class="movefile">Move</span>
  <span class="copyfile">Copy</span>
  <span class="viewfile">View</span>
</div>
