<div class="upload-info" data-id="{{id}}">
  <div class="upload-bar" style="width:0%"></div>
  <span class="upload-percentage">0%</span>
  <span class="upload-title">{{name}}</span>
  <span class="upload-time">
    {{{svg "time"}}}
    <span class="upload-time-left"></span>
    <span class="upload-speed"></span>
  </span>
  <span class="upload-cancel tip tip-w" aria-label="Cancel">
    {{{svg "remove"}}}
  </span>
</div>
