<div class="upload-info">
  <div class="upload-bar"></div>
  <span class="upload-title"></span>
  <span class="upload-speed">
    {{{svg "speed"}}}
    <span></span>
  </span>
  <span class="upload-time">
    {{{svg "time"}}}
    <span class="upload-time-left"></span>
  </span>
  <span class="upload-cancel">
    {{{svg "remove"}}}
    <span>Cancel</span>
  </span>
</div>
