<div class="upload-info" data-id="{{id}}">
  <div class="upload-bar" style="width:0%"></div>
  <span class="upload-percentage">0%</span>
  <span class="upload-title">{{title}}</span>
  <span class="upload-time">
  </span>
  <span class="upload-cancel tip tip-nw" aria-label="Cancel">
    {{{svg "cross"}}}
  </span>
</div>
