/* vim: ts=4:sw=4 */
/* ===================== Fonts ===================== */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(/res/OpenSans400.woff) format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(/res/OpenSans800.woff) format("woff");
}

/* ===================== General styles ===================== */
html, body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABlBMVEX09PT///+farO/AAAAEElEQVR42mMwYEhgOMAwAQAGCAHhCrAGZQAAAABJRU5ErkJggg==);
    font-size: 1.25em;
    height: 100%;
    color: #888;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

section, nav {
    display: block;
}

#page, #new {
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    color: #222;
    text-decoration: none;
}

li {
    list-style: none;
}

/* ===================== Page elements ===================== */
#loading {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/res/loading.gif) no-repeat center center;
}

#navigation {
    z-index: 2;
    text-align: center;
    display: block;
    float: left;
}

#content {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    width: 100%;
    text-shadow: 0 0 1px rgba(128,128,128, .3);
    overflow: auto;
}

#title {
    font-weight: 800;
    color: #fff;
    text-shadow:1px 1px 0 #777;
    opacity: .7;
    transition: all .2s linear;
}

#title:hover {
    color:  #fff;
    opacity: 1;
}

.button {
    float: left;
    cursor: pointer;
    width: 10em;
    margin: 0 auto;
    font-weight: 400;
    user-select: none;
}

.button:hover {
    color: #fff;
}

#file-upload input {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    opacity: 0;
}

#file-upload {
    position: relative;
    overflow: hidden;
}

#progress {
    display: none;
    float: left;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 92%;
    margin-left: 4%;
    height: 1em;
    background-color: #1a1a1a;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    border-radius: 5px;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: #bbb;
    background-image: linear-gradient(to bottom, #eee, #aaa);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    border-radius: 3px;
    transition: width .25s ease-in-out;
}

#percent {
    font-size: 0.7em;
}

#tip {
    position: absolute;
    font-size:.75em;
    bottom: 1em;
    width: 100%;
    text-align: center;
    padding: 2em;
    color: #999;
}

footer {
    position: absolute;
    width: 100%;
    bottom: .7em;
    height: .7em;
    font-size: .5em;
    text-align: center;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
}

#noscript {
    position: absolute;
    display: table;
    box-shadow: 1px 1px 25px 5px rgba(122,122,122,0.8);
    height: 250px;
    width: 500px;
    margin-top: -125px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
}

#noscript p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 800;
    padding: 2em;
    color: #ddd;
    line-height: 1.5em;
    text-align: center;
}


#preview {
    display : none !important; /* !important in case Dropzone adds display styling */
}

/* ===================== File/Folder display ===================== */

.dark-bg, .data-row:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGUlEQVR42mOQAANtMGCAs4AMBjgLyoGrBACjhAZJiLyabAAAAABJRU5ErkJggg==);
}

.data-row:hover {
    color: #fff;
    opacity: .9;
    border-radius: 6px;
}

.data-row:hover span a {
    color: #fff;
}

.filelink, .folderlink {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.data-row {
    line-height: 1.5em;
    height: 1.5em;
    margin-left: .5em;
    margin-right: .5em;
}

.data-name {
    position: relative;
    left: 1em;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
}

.data-info {
    position: absolute;
    right: 2.8em;
    width: 25%;
    float: right;
    text-align: right;
    white-space: nowrap;

}

.right-clear {
    clear: both;
}

/* ===================== Icons ===================== */

.icon-file, .icon-folder {
    position: relative;
    float: left;
    top: .25em;
    left: .5em;
    height: 24px;
    width: 24px;
}

.icon-delete {
    position: relative;
    float: right;
    cursor: pointer;
    top: .25em;
    right: .5em;
    height: 24px;
    width: 24px;
}

.file-normal   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAADFBMVEUAAAA2NjbU1NQ4ODip2l1/AAAAAXRSTlMAQObYZgAAADRJREFUeNrtzDEKACAMxVDbf/87OwgtRiy6962BjJKCMSSGhOALinbXYFydM8FT8NCrv1CZNV0DuCRGPMwAAAAASUVORK5CYII=);}
.folder-normal { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAACVBMVEUAAAA6Ojo7Ozv3AnmEAAAAAXRSTlMAQObYZgAAAC5JREFUeNrtyzEKAAAIQlH1/oduaBACh5p7ox9xIarN3fbBQqAUHh8WgfkRCg4KddwDIotBpMAAAAAASUVORK5CYII=);}
.delete-normal { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAPFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQLyYwAAAAE3RSTlMwiOnWCQoj5IPRhxZt4xnc4BMAM3v2IwAAAIRJREFUeNp1kkkWwCAIQ+1oB+uU+9+18qBllezMfwYEQydSkHZ39uTgwpw/P8+4PnAAKLf6dwFwKJggqk38ViGaBCSonjxyHjukAUK0Q9m2AlUctl0XLQvwxwYr6LJGBvBoL6bA0jzHQV9PmM61c8CjeHHeLn0gHQkdIh07XxRfLf8MRC+a/CYN66MNFgAAAABJRU5ErkJggg==);}

.file-invert   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAADFBMVEUAAADCwsIrKyvHx8d5y4cwAAAAAXRSTlMAQObYZgAAADRJREFUeNrtzDEKACAMxVDbf/87OwgtRiy6962BjJKCMSSGhOALinbXYFydM8FT8NCrv1CZNV0DuCRGPMwAAAAASUVORK5CYII=);}
.folder-invert { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAADFBMVEUAAADCwsLDw8PExMQ40Uc2AAAAAXRSTlMAQObYZgAAAC9JREFUeNrtyzEKAAAIQlHL+9+5oUEIHGrujX7EBZNt7rIPYkKS5vFhEcI/TMFBATFaBLPICCGNAAAAAElFTkSuQmCC);}
.delete-invert { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAPFBMVEXU1NTh4eHh4eHh4eHh4eHX19fW1tbh4eHh4eHh4eHU1NTh4eHh4eHV1dXh4eHW1tbV1dXh4eEAAADh4eGs51dKAAAAE3RSTlPpg4eIMNHWCQoj5BZt4xnc4BMA80stwAAAAIVJREFUeNp1kkkSwCAIBM1qFuM2//9rsCDhNH2TLgdFQyeoSKdXzuRiRshfPQfMn5gAlFvrdwEwqVgwqG3UW8VgGSJBebLkPLZIItbLFuU4CpRrFWHbhX0H/thgDR07iAiP9mYqLM1zXPS4wdhi54JH8eb8uPSCdCR0iHTs/KH40/LPQHgBmvwmDR1xeewAAAAASUVORK5CYII=);}

/* ===================== Directory name input ===================== */

#overlay {
    display: none;
    text-align: center;
    margin-top: 3em;
    z-index: 3;
}

#nameinput {
    color: #222;
    width: 90%;
    padding: 0 5px;
    font-size: 1em;
    height: 1.25em;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #eee;
}

#info {
    text-shadow: 0 1px 5px rgba(255, 0, 0, 0.3);
    color: #f55;
    font-size: .6em;
}

#nameinput.valid {
    border: 2px solid #000;
    background-color: #eee;
}

#nameinput.invalid {
    border: 2px solid #f00;
    background-color: #f55;
}

/* ===================== Media Queries ===================== */

@media only screen and (max-width: 767px) {
    #navigation {
        width: 100%;
        height: 1.5em;
        padding: .1em;
    }

    #content {
        float: left;
        width: 100%;
        top: 3.5em;
    }

    #title {
        display: none;
    }

    #current {
        top: 1.5em;
    }

    .button {
        width: 50%;
    }

    #tip {
        display: none;
    }

    footer {
        display: none;
    }

    #overlay {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1.5em;
        width: 33%;
    }

    #progress {
        position: absolute;
        top: .25em;
        right: .25em;
        margin-top: 1.5em;
        width: 33%;
    }

    #progressBar {
        height: 104%;
    }

    #percent {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
    }

}

@media only screen and (min-width: 768px) {
    #navigation {
        width: 10em;
        height: 100%;
        position: fixed;
        top: 0;
    }

    #content {
        padding-left: 10em;
        top: 1.95em;
    }

    #title {
        padding: 5%;
        font-size: 1.75em;
    }

    #current {
        top: 0;
        padding-left: 10em;
    }
}
/* ===================== Login Form ===================== */

#title-login {
    position: absolute;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    text-shadow: 1px 1px 0 #777;
    color: #fff;
    transition: all .2s linear;
}

#login-container{
    width: 100%;
    height: 100%;
}

#login-form {
    position: absolute;
    box-shadow: 1px 1px 25px 5px rgba(122,122,122,0.8);
    height: 350px;
    width: 500px;
    margin-top: -175px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    background-color: #222;
    opacity: .9;
    border-radius: 10px;
}

#login-form-inner {
    vertical-align: middle;
    position: absolute;
    height: 200px;
    width: 400px;
    margin-top: 75px;
    margin-left: 50px;
}

.login-input {
    box-shadow: inset 1px 1px 5px 1px rgba(143,143,143,0.8);
    color: #222;
    margin-top: 30px;
    padding-left: 5px;
    font-size: 1.25em;
    height: 1.5em;
    width: 100%;
    border: 2px transparent;
    border-radius: 8px;
}

#below {
    margin-top: 15px;
    width: 100%;
    color: #ddd;
    text-align: left;
}

/* TODO: Clean this up */
input[type=checkbox] {
    vertical-align: middle;
}

input[type=checkbox] + label {
    cursor: pointer;
    user-select: none;
    line-height: 19px;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    height: 19px;
    vertical-align: middle;
    width: 19px;
    background: url(/res/chk.png)left top no-repeat;
    margin-right: 4px;
    margin-left: -19px;
    margin-top: -3px;
}

input[type=checkbox]:checked + label:before {
    background: url(/res/chk.png)-19px top no-repeat;
}

#submit-bg {
    width: 100%;
    margin-top: 300px;
    height: 50px;
}

#submit {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 800;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 #528009;
    cursor:pointer;
    user-select: none;
}

#submit.valid {
    background-color: #89c403;
    border: 1px solid #74b807;

}

#submit.invalid {
    background-color: #ff4030;
    border: 1px solid #ee4030;

}

#submit:hover {
    opacity: .9;
}

/* ===================== Breadcrumbs ===================== */
#current {
    z-index: 1;
    position: fixed;
    height: 1.45em;
    width: 100%;
    overflow: hidden;
}

#crumbs , #crumbs li {
    float:left;
}

#crumbs a {
    color: #ddd;
    display: block;
    float: left;
    position: relative;
    font-size: .9em;
    line-height: 1.6em;
    padding: 0 1.6em 0 2em;
    text-decoration: none;
    background: #aaa;
}

#crumbs a:after {
    content: '';
    display: block;
    z-index: 1;
    height: 1.6em;
    width:1.6em;
    position: absolute;
    right: -.8em;
    top: 0;
    background: #aaa;
    transform: rotate(45deg) scale(0.707) ;
}

#crumbs li:nth-child(1) a       { background: #333; }
#crumbs li:nth-child(1) a:after { background: #333; }
#crumbs li:nth-child(2) a       { background: #555; }
#crumbs li:nth-child(2) a:after { background: #555; }
#crumbs li:nth-child(3) a       { background: #777; }
#crumbs li:nth-child(3) a:after { background: #777; }
#crumbs li:nth-child(4) a       { background: #999; }
#crumbs li:nth-child(4) a:after { background: #999; }

#crumbs li a, #crumbs li a:after {
  transition: .3s all;
}

#crumbs li a:hover, #crumbs li a:hover:after {
  background: #c73;
  color: #fff;
}
